<template>
  <q-layout view="hHh lpR lFf" class="app-bkg-color">

    <q-header class="app-bkg-color text-primary q-pa-none q-ma-none q-pb-none q-mb-none" height-hint="98">

      <q-toolbar>
        <q-space />
        <q-toolbar-title class="absolute-center">
          <div class="row">

            <div class="q-pl-sm q-pr-sm">
              <q-btn flat dense color="primary" class="text-h4 text-italic" to="/">
                P<q-icon name="bi-coin" size="26px" class="q-pl-xs q-pr-xs" />ints
              </q-btn>
            </div>

          </div>
        </q-toolbar-title>


        <div class="q-gutter-md q-ml-none">
          <q-btn flat round dense icon="bi-question-circle" size="md" to="/help">
            <q-tooltip>Help</q-tooltip>
          </q-btn>
          <q-btn flat round dense icon="bi-info-circle" size="md" class="q-ml-none q-mr-none" @click="alert = true">
            <q-tooltip>About</q-tooltip>
          </q-btn>

          <q-dialog v-model="alert" position="top">
            <q-card class="app-bkg-color text-primary" style="width: 300px">
              <q-card-section class="row items-center q-pb-none">
                <div class="text-h6">About</div>
                <q-space />
                <q-btn icon="bi-x-circle" flat round dense v-close-popup />
              </q-card-section>

              <q-card-section>

                <q-list class="text-primary" bordered separator>

                  <q-item clickable v-ripple>
                    <q-item-section>
                      <q-item-label overline>Version</q-item-label>
                      <q-item-label>{{ this.ui.version }}</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-ripple>
                    <q-item-section>
                      <q-item-label overline>Released</q-item-label>
                      <q-item-label>{{ this.ui.released }}</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-ripple>
                    <q-item-section>
                      <q-item-label overline>Created</q-item-label>
                      <q-item-label>{{ this.ui.created }}</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-ripple>
                    <q-item-section>
                      <q-item-label overline>Authors</q-item-label>
                      <q-item-label>{{ this.ui.authors }}</q-item-label>
                    </q-item-section>
                  </q-item>

                </q-list>

              </q-card-section>

              <q-card-section>
                <div class="row flex-center">
                  © 2024&nbsp;<a class="text-bold text-grey-5" style="text-decoration: none;" href="https://runrader.com">runrader.com</a>
                </div>
                <div class="row flex-center text-italic">
                  All rights reserved
                </div>
              </q-card-section>

            </q-card>
          </q-dialog>

          <!-- 2023-05-20: this is not really useful
          <q-btn flat dense size="lg" class="q-ml-none q-mr-none" v-if="this.user.username">
            {{ my_points_approved }}
            <q-tooltip>Account balance</q-tooltip>
          </q-btn>
          -->

          <UserMessage />

          <q-btn flat dense :icon="userMenuIcon" color="white" size="26px" class="q-pt-xs q-pr-sm q-pl-none" aria-label="User Menu" v-if="this.user.username">
            <q-badge :color="my_bling.color" rounded floating>
              <q-icon :name="my_bling.badge" :color="my_bling.textcolor" />
              <q-tooltip :offset="[10, 40]">
                {{ my_current_rank }}&nbsp;place
              </q-tooltip>
            </q-badge>
            <q-menu v-if="this.user.username">
              <div class="row no-wrap q-pa-md app-bkg-color">
                <div class="column" style="width: 400px;">
                  <div class="text-h6 q-mb-md">Settings</div>
                  <q-space />
                  <q-toggle v-model="rightDrawer" label="right drawer expand" v-on:click="updateUserPref('right_drawer_expanded', this.user.preferences.right_drawer_expanded, true)" v-if="false">
                    <q-tooltip>expand the right drawer by default</q-tooltip>
                  </q-toggle>

                  <div class="q-gutter-md row">
                    <q-select
                      filled
                      label="Timezone"
                      v-model="user_timezone"
                      use-input
                      hide-selected
                      fill-input
                      input-debounce="0"
                      :options="options"
                      @update:model-value="updateUserTimezone"
                      @filter="filterFn"
                      style="width: 100%; padding-bottom: 32px"
                    >
                      <template v-slot:no-option>
                        <q-item>
                          <q-item-section class="text-grey">
                            No results
                          </q-item-section>
                        </q-item>
                      </template>
                      <q-tooltip>
                        Select your timezone - this is used to show dates in the selected timezone<br/>
                        rather than the internally stored UTC timezone
                      </q-tooltip>
                    </q-select>

                  </div>

                  <div class="q-gutter-md row">

                    <q-input
                      filled autogrow
                      debounce="2400"
                      v-model="avatar"
                      label="Avatar"
                      @update:model-value="updateAvatar"
                      style="width: 100%; padding-bottom: 32px" />

                      <q-tooltip>Enter the URL to the Avatar you would like to use</q-tooltip>
                  </div>

<!--
                  <div class="row justify-left">

                    <q-btn flat dense icon="bi-info-circle" @click="alert = true">
                      <q-tooltip>About</q-tooltip>
                    </q-btn>

                    <q-btn flat dense icon="bi-question-circle" to="/help">
                      <q-tooltip>Help</q-tooltip>
                    </q-btn>
                  </div>
-->

                </div>

                <q-separator vertical inset class="q-mx-lg" />

                <div class="column items-center">
                  <q-avatar size="92px">
                    <img v-bind:src="this.user.avatar" />
<!--
                    <q-popup-edit v-model="this.user.avatar" auto-save buttons v-slot="scope" title="Set new Avatar URL" :validate="val => val.length > 8">
                      <q-input v-model="scope.value" dense autofocus counter @keyup.enter="scope.set" />
                    </q-popup-edit>
-->
                  </q-avatar>

                  <div class="text-body1 q-mt-sm q-mb-none">
                    {{ this.user.display_name }}
                    <q-tooltip anchor="top middle" self="bottom middle" html content-class="bg-accent" :offset="[-10, -10]">
                      {{ this.user.first_name }} {{ this.user.last_name }} <br/>
                      {{ this.user.email }}
                    </q-tooltip>
                  </div>
                  <div class="text-body1 q-mt-none q-mb-none">
                    {{ this.user.active_account_role }}
                    <q-tooltip anchor="top middle" self="bottom middle" html content-class="bg-accent" :offset="[-10, -10]" style="width: 200px;">
                      <ul class="q-ml-xs q-pl-xs">
                        <li>account: {{ this.user.active_account_name }}</li>
                        <li>roles: {{ this.user.roles }}</li>
                      </ul>
                    </q-tooltip>
                  </div>

                  <q-space />

                  <q-btn glossy size="md" color="primary" label="logout" v-close-popup @click="logout">
                    <q-tooltip>Logout</q-tooltip>
                  </q-btn>
                </div>
              </div>
            </q-menu>
            <q-menu v-if="!this.user.username">
              <div class="row no-wrap q-pa-md">
                <div class="column">
                  <div class="text-h6 q-mb-md">Settings</div>
                  <div class="text-body1">Sign in for settings</div>
                </div>

                <q-separator vertical inset class="q-mx-lg" />

                <div class="column items-center">
                  <q-avatar size="72px">
                    <q-icon name="account_circle" style="font-size: 72px" />
                  </q-avatar>

                  <div class="text-subtitle1 q-mt-md q-mb-xs">username</div>
                  <div class="text-subtitle1 q-mt-xs q-mb-xs">
                    user role
                  </div>

                </div>
              </div>
            </q-menu>
          </q-btn>

          <q-btn flat round ripple icon="bi-box-arrow-in-right" color="primary" size="18px" padding="xs" aria-label="Sign In" v-close-popup @click="login" v-if="!this.user.username">
            <q-tooltip content-class="bg-accent" class="text-body1">Log In</q-tooltip>
          </q-btn>
        </div>

      </q-toolbar>

      <!-- Right Drawer -->
      <q-drawer
        v-if="this.user.username"
        show-if-above
        side="right"
        :mini="!rightDrawer || miniState" @click.capture="rightDrawerClick"
        :width="266"
        :breakpoint="500"
        class="text-primary app-bkg-color">

          <!-- MINI -->
          <template v-slot:mini>
            <q-scroll-area class="fit mini-slot cursor-pointer">
              <div class="q-pa-sm">
                <div class="column items-center">

                  <q-icon name="bi-bank2" color="primary" size="lg" class="q-mt-none q-mb-md" style="font-size: 3em;" @click="miniState = true">
                    <q-tooltip content-class="bg-accent" :offset="[10, 10]">
                      Savings
                    </q-tooltip>
                  </q-icon>
                  <div class="row">S</div>
                  <div class="row">A</div>
                  <div class="row">V</div>
                  <div class="row">I</div>
                  <div class="row">N</div>
                  <div class="row">G</div>
                  <div class="row">S</div>
                </div>
              </div>
            </q-scroll-area>
          </template>

          <q-scroll-area class="fit">

            <!-- My Points -->
            <div class="q-pa-sm q-pt-md row flex flex-center">
              <q-btn-group push>
                <q-btn glossy color="primary" :label="my_points_approved">
                  <q-tooltip max-width="200px">
                      approved points: all points earned/used that have been approved (should be the same as Balance)
                </q-tooltip>
                </q-btn>
                <q-btn glossy color="yellow" :label="my_points_unapproved">
                  <q-tooltip max-width="200px">
                      unapproved points: all points earned/used that have not yet been approved (not reflected in Account until approved)
                  </q-tooltip>
                </q-btn>
                <q-btn glossy color="red" :label="my_points_denied">
                  <q-tooltip max-width="200px">
                      denied points: all points earned/used that have been denied (see Message in Ledger for reason)
                  </q-tooltip>
                </q-btn>
              </q-btn-group>
            </div>

            <div class="q-pa-xs" style="max-width: 350px">
              <q-list bordered class="rounded-borders">

                <!-- Account -->
                <q-expansion-item
                  label="Account"
                  dense dense-toggle expand-separator default-opened
                  icon="bi-bank"
                  header-style="{width: 100%;}"
                  class="text-h6 q-pt-md q-pb-md">

                  <q-card class="app-bkg-color-sub">
                    <q-card-section class="q-pt-sm q-pr-sm q-pl-sm" style="background-color: inherit;">
                      <div class="row q-pa-xs">
                        <div class="col q-mr-xs">

                          <!-- Debits (incoming/earned) -->
                          <q-card
                            class="my-card text-white"
                            style="background: radial-gradient(circle, #74ED74 0%, #2FBD2F 100%)"
                          >
                            <q-card-section class="q-pt-xs q-pb-none">
                              <div class="text-h6 text-center">
                                Debits
                                <q-tooltip>Total Earned points</q-tooltip>
                              </div>
                            </q-card-section>

                            <q-card-section class="q-pa-none text-center q-pb-xs">
                              {{ this.accounting.debits.toFixed(2) }}
                              <q-tooltip>{{ this.accounting.debits }}</q-tooltip>
                            </q-card-section>
                          </q-card>

                        </div>
                        <div class="col">

                          <!-- Credits (outgoing/redeemed) -->
                          <q-card
                            class="my-card text-white "
                            style="background: radial-gradient(circle, #FF3553 0%, #88010C 100%)"
                          >
                            <q-card-section class="q-pt-xs q-pb-none">
                              <div class="text-h6 text-center">
                                Credits
                                <q-tooltip>Total Redeemed points</q-tooltip>
                              </div>
                            </q-card-section>

                            <q-card-section class="q-pt-none text-center q-pb-xs">
                              {{ this.accounting.credits.toFixed(2) }}
                              <q-tooltip>{{ this.accounting.credits }}</q-tooltip>
                            </q-card-section>
                          </q-card>

                        </div>
                      </div>
                      <div class="row q-pt-xs q-mr-sm">
                        <div class="col">

                          <!-- Balance -->
                          <q-card
                            class="my-card text-white q-ml-xs"
                            style="background: $text-primary"
                          >
                            <q-card-section class="q-pt-sm q-pb-none">
                              <div class="text-h6 text-center">
                                Balance
                                <q-tooltip>Account Balance</q-tooltip>
                              </div>
                            </q-card-section>

                            <q-card-section class="q-pt-none text-center q-pb-sm">
                              {{ this.accounting_balance.toFixed(4) }}
                              <q-tooltip>{{ this.accounting_balance }}</q-tooltip>
                            </q-card-section>
                          </q-card>

                        </div>
                      </div>
                    </q-card-section>
                  </q-card>
                </q-expansion-item>

                <!-- Stashes -->
                <q-expansion-item
                  label="Stashes"
                  dense dense-toggle expand-separator default-opened
                  icon="bi-wallet2"
                  header-style="{width: 100%;}"
                  class="text-h6 q-pt-md q-pb-md">

                  <q-list class="q-ml-md app-bkg-color-sub q-pt-sm">

                    <q-item dense class="row text-subtitle1 text-blue-grey-9" v-for="(item) in stashes" :key="item.label">
                      <q-item-section avatar v-if="item.id_ !== 'BAL'">
                        <q-icon color="text-blue-grey-9" :name="item.icon" />
                      </q-item-section>
                      <q-item-section class="">
                        {{ item.label }}
                        <q-tooltip>
                          {{ item.note }}
                        </q-tooltip>
                      </q-item-section>
                      <q-item-section side>
                        <q-item-label caption>
                          {{ item.amount.toFixed(2) }}
                          <q-tooltip>{{ item.amount }}</q-tooltip>
                        </q-item-label>
                      </q-item-section>
                      <q-item-section thumbnail class="q-ma-none q-pa-none">
                        <q-item-label class="q-ma-none q-pa-none">
                          <q-btn dense flat color="primary" icon="bi-three-dots-vertical" size="sm" padding="none" class="q-mr-sm" v-if="item.id_ !== 'BAL'">
                            <q-menu>
                              <q-list dense>
                                <q-item v-close-popup>
                                  <q-item-section>
                                    <q-btn flat color="primary" size="sm" padding="xs" icon="bi-pencil-square" label="Edit" style="width: 100px;" @click="stashEdit(item)">
                                      <q-tooltip>Edit this stash</q-tooltip>
                                    </q-btn>
                                  </q-item-section>
                                </q-item>
                                <q-item clickable v-close-popup>
                                  <q-item-section>
                                    <q-btn flat color="red" size="sm" padding="xs" icon="bi-trash2-fill" label="Delete" style="width: 100px;" @click="stashDelete(item)" />
                                  </q-item-section>
                                </q-item>
                              </q-list>
                            </q-menu>
                          </q-btn>
                        </q-item-label>
                      </q-item-section>
                    </q-item>

                    <q-item dense class="row q-pl-xs text-subtitle1 text-bold bg-green-4 text-black">
                      <q-item-section avatar>
                        <q-btn dense flat rounded color="text-blue-grey-9" icon="bi-plus-circle-fill" @click="stashAdd()">
                          <q-tooltip>Create a new stash...</q-tooltip>
                        </q-btn>
                      </q-item-section>
                      <q-item-section>Total Stashed</q-item-section>
                      <q-item-section side>
                        <q-item-label caption class="text-black text-bold">
                          {{ stashes_total.toFixed(2) }}
                          <q-tooltip>{{ stashes_total }}</q-tooltip>
                        </q-item-label>
                      </q-item-section>
                    </q-item>

                  </q-list>

                </q-expansion-item>

                <q-dialog v-model="showAddEditStash">
                  <addEditStash @close="showAddEditStash = false" />
                </q-dialog>

                <!-- Point Leaders -->
                <q-expansion-item
                  label="Leader Board"
                  dense dense-toggle expand-separator default-opened
                  icon="bi-stars"
                  class="text-h6 q-pt-md q-pb-md">

                  <q-card class="app-bkg-color-sub q-pt-md">
                    <q-card-section class="q-pt-sm q-pr-md q-pl-sm">
                      <q-list>
                        <q-item dense class="row text-body1" v-for="(leader, index) in orderedLeaders" :key="leader.user">

                          <div class="col-1 q-pl-md q-ma-none vertical-middle" style="height: 32px;">
                              <q-badge transparent floating
                                :color="leadersBling[index].color"
                                :text-color="leadersBling[index].textcolor"
                                v-if="index < 3"
                                class="text-h6 q-pl-md q-pr-sm"
                                style="width: 99%; height: 32px;">
                                  {{ leader.username }}: {{ leader.amount }}
                                  <q-icon :name="leadersBling[index].badge" size="28px" class="absolute-right q-mr-sm" />
                              </q-badge>
                              <!-- non-leaders -->
                              <q-badge transparent floating
                                color="grey-10"
                                text-color="grey-4"
                                v-if="index > 2"
                                class="text-h6 q-pl-md q-pr-sm"
                                style="width: 99%; height: 32px;">
                                {{ leader.username }}: {{ leader.amount }}
                                <q-icon name="bi-emoji-frown" size="28px" class="absolute-right q-mr-sm vertical-bottom" />
                            </q-badge>
                          </div>

                        </q-item>
                      </q-list>
                    </q-card-section>
                  </q-card>
                </q-expansion-item>

              </q-list>
            </div>
          </q-scroll-area>

          <div class="q-mini-drawer-hide absolute" style="top: 15px; left: -17px">
            <q-btn round text-color="primary" icon="bi-chevron-right" size="md" @click="miniState = true" />
          </div>
      </q-drawer>


      <q-tabs inline-label
        v-model="tab"
        active-color="primary"
        indicator-color="primary"
        switch-indicator
        align="center"
        class="app-bkg-color text-grey-8 q-mb-xs">

        <q-route-tab name="home" icon="bi-house-fill" to="/" label="" v-if="this.user.username" />
        <q-route-tab name="tasks" icon="bi-cash-stack" to="/tasks" label="Tasks" v-if="this.user.username">
          <q-tooltip>Earn points!</q-tooltip>
        </q-route-tab>
        <q-route-tab name="rewards" icon="bi-gift-fill" to="/rewards" label="Rewards" v-if="this.user.username">
          <q-tooltip>Use Points<br/>Redeem points for anything listed here</q-tooltip>
        </q-route-tab>
        <q-route-tab name="ledger" icon="bi-receipt-cutoff" to="/points" label="Ledger" v-if="this.user.username" :alert="rewardsTabAlert">
          <q-tooltip>View your Points and Rewards history</q-tooltip>
        </q-route-tab>

      </q-tabs>

    </q-header>

    <div class="app-bkg-color-sub">

      <div>
      <q-page-container >

          <router-view />

      </q-page-container>
      </div>
    </div>

    <q-footer reveal class="app-bkg-color text-primary">
      <q-toolbar style="min-height: 33px;">
        <q-toolbar-title>
          <div class="absolute-center text-body1">© 2024 dradux.com. All rights reserved.</div>
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>

<script>
  import { ref, computed } from 'vue'
  import { mapActions, mapGetters } from 'vuex'
  import _ from 'lodash'
  import { Loading, LocalStorage, date, QSpinnerFacebook } from 'quasar'
  import VueSSE from 'vue-sse';
  import { api } from 'boot/axios'

  const tzStrings = [
    "Etc/GMT+12",
    "Pacific/Midway",
    "Pacific/Honolulu",
    "US/Alaska",
    "America/Los_Angeles",
    "America/Tijuana",
    "US/Arizona",
    "America/Chihuahua",
    "US/Mountain",
    "America/Managua",
    "US/Central",
    "America/Mexico_City",
    "Canada/Saskatchewan",
    "America/Bogota",
    "US/Eastern",
    "US/East-Indiana",
    "Canada/Atlantic",
    "America/Caracas",
    "America/Manaus",
    "America/Santiago",
    "Canada/Newfoundland",
    "America/Sao_Paulo",
    "America/Argentina/Buenos_Aires",
    "America/Godthab",
    "America/Montevideo",
    "America/Noronha",
    "Atlantic/Cape_Verde",
    "Atlantic/Azores",
    "Africa/Casablanca",
    "Etc/Greenwich",
    "Europe/Amsterdam",
    "Europe/Belgrade",
    "Europe/Brussels",
    "Europe/Sarajevo",
    "Africa/Lagos",
    "Asia/Amman",
    "Europe/Athens",
    "Asia/Beirut",
    "Africa/Cairo",
    "Africa/Harare",
    "Europe/Helsinki",
    "Asia/Jerusalem",
    "Europe/Minsk",
    "Africa/Windhoek",
    "Asia/Kuwait",
    "Europe/Moscow",
    "Africa/Nairobi",
    "Asia/Tbilisi",
    "Asia/Tehran",
    "Asia/Muscat",
    "Asia/Baku",
    "Asia/Yerevan",
    "Asia/Kabul",
    "Asia/Yekaterinburg",
    "Asia/Karachi",
    "Asia/Calcutta",
    "Asia/Calcutta",
    "Asia/Katmandu",
    "Asia/Almaty",
    "Asia/Dhaka",
    "Asia/Rangoon",
    "Asia/Bangkok",
    "Asia/Krasnoyarsk",
    "Asia/Hong_Kong",
    "Asia/Kuala_Lumpur",
    "Asia/Irkutsk",
    "Australia/Perth",
    "Asia/Taipei",
    "Asia/Tokyo",
    "Asia/Seoul",
    "Asia/Yakutsk",
    "Australia/Adelaide",
    "Australia/Darwin",
    "Australia/Brisbane",
    "Australia/Canberra",
    "Australia/Hobart",
    "Pacific/Guam",
    "Asia/Vladivostok",
    "Asia/Magadan",
    "Pacific/Auckland",
    "Pacific/Fiji",
    "Pacific/Tongatapu",
  ]

  export default {
    name: 'MyLayout',
    data () {
      return {
        // NOTE: set *Drawer to true to start visible, false to start hidden.
        miniState: false,
        showAddEditStash: false,
        loading: false,
        // NOTE: leadersBling is in order of appearance, first item will be given to user with most points, etc.
        leadersBling: [
            { "rank": 1, "color": "yellow-6", "textcolor": "black", "badge": "bi-trophy-fill" },
            { "rank": 2, "color": "blue-grey-3", "textcolor": "black", "badge": "bi-award-fill" },
            { "rank": 3, "color": "brown-13", "textcolor": "black", "badge": "bi-balloon-heart-fill" },
        ],
        nonleaderBling: {
          "rank": null, "color": "grey-10", "textcolor": "white", "badge": "bi-emoji-frown-fill"
        },
      }
    },
    setup () {
      const options = ref(tzStrings)

      return {
        tab: ref('rewards'),
        splitterModel: ref(10),
        alert: ref(false),

        model: ref(null),
        options,
        filterFn (val, update, abort) {
          update(() => {
            const needle = val.toLowerCase()
            options.value = tzStrings.filter(v => v.toLowerCase().indexOf(needle) > -1)
          })
        },
      }
    },
    computed: {
      ...mapGetters('user', ['user', 'user_points']),
      ...mapGetters('stashes', ['stashes', 'stashes_total']),
      ...mapGetters('tasks', ['tasks']),
      ...mapGetters('news', ['items']),
      ...mapGetters('sse', ['sseClient']),
      ...mapGetters('points', ['points', 'accounting', 'leaders']),
      ...mapGetters('about', ['ui']),

      rewardsTabAlert() {
        var unapproved = this.points.filter(function (el) {
          return el.status == 'created';
        });
        if (unapproved.length > 0) {
          return "primary";
        } else {
          return false;
        }
      },
      rightDrawer() {
        // return (this.user.preferences.right_drawer_expanded)
        //console.log("rightDrawer=", this.user.preferences.right_drawer_expanded);
        return true
      },
      avatar () {
        return this.user.avatar
      },
      user_timezone () {
        return this.user.user_timezone
      },
      orderedTasks: function () {
        return _.orderBy(this.tasks, 'created', 'desc').splice(0, 4)
      },
      orderedLeaders: function () {
        return _.orderBy(this.leaders, 'amount', 'desc')
      },
      userMenuIcon: function () {
        if (this.user.username) {
          if (this.user.avatar && this.user.avatar.length > 0) {
            return 'img:' + this.user.avatar
          } else {
            return 'face'
          }
        } else {
          return 'account_circle'
        }
      },
      todaysDate () {
        let timeStamp = Date.now()
        return date.formatDate(timeStamp, 'dddd D MMMM')
      },
      my_points_approved () {
        return Math.round(this.user_points.approved)
      },
      my_points_unapproved () {
        return Math.round(this.user_points.created)
      },
      my_points_denied () {
        return Math.round(this.user_points.denied)
      },
      my_current_rank () {
        const rank = this.orderedLeaders.map(function(e) { return e.username; }).indexOf(this.user.username) + 1;
        //console.log(">> orderedLeaders", this.orderedLeaders);
        //console.log(">> rank:", rank);
        const ordinal = this.to_ordinal(rank);
        return rank + ordinal
      },
      my_current_rank_color () {
        if (this.leadersBling) {
          const pos = this.orderedLeaders.map(function(e) { return e.username; }).indexOf(this.user.username);
          if (pos && pos > -1 && pos < this.leadersBling.length) {
            return this.leadersBling[pos].color;
          } else {
            return "red";
          }
        } else {
          return "white";
        }
      },
      my_bling () {
        const pos = this.orderedLeaders.map(function(e) { return e.username; }).indexOf(this.user.username);
        //console.log("my_bling pos", pos);
        //console.log("my_bling leadersBling.length", this.leadersBling.length);
        if (pos > -1 && pos < this.leadersBling.length) {
          return this.leadersBling[pos]
        } else {
          return this.nonleaderBling
        }
      },
      accounting_balance () {
        return this.accounting.debits - this.accounting.credits;
      },
      unread_notifications () {
        return false;
      },
      stashes_total () {
        // console.log("- stashes:", this.stashes);
        // if no stashes then return 0.
        return this.stashes && this.stashes.length > 0 ? this.stashes.map(item => item.amount).reduce((prev, next) => prev + next) : 0;
      },
    },
    components: {
      UserMessage: require('components/UserMessages/Modals/View.vue').default,
      addEditStash: require('components/Stashes/Modals/AddEditStash.vue').default,
    },
    filters: {
      capitalize:  function(value)  {
        if  (!value)  {
          return  "";
        }
        value  =  value.toString();
        return  value.charAt(0).toUpperCase()  +  value.slice(1);
      },
      formatDate: function(value)  {
        if  (!value)  {
          return  "";
        }
        return date.formatDate(value, 'MMM Do')
      },
    },
    created() {
      // CAREFUL; this is called each time you hit the 'page'
    },
    mounted() {
      //~ console.log("OnMounted, this.user is", this.user);
      if ( !this.user || Object.keys(this.user).length === 0  || this.user.constructor === Object) {
        //~ console.log("User is empty...");
        // see if we have a token, if so use it to re-authenticate the user.
        if ( LocalStorage.has('points-ui_access-token') ) {
          Loading.show({
            spinner: QSpinnerFacebook,
            spinnerSize: 240,
            message: 'Rehydrating session data...',
            // boxClass: 'bg-grey-2 text-grey-9',
            messageColor: 'primary',
            spinnerColor: 'primary',
            backgroundColor: 'teal-10'
          })
          let access_token = LocalStorage.getItem('points-ui_access-token')
          //~ console.log("Access Token: ", access_token);
          api.defaults.headers.common['Authorization'] = 'Bearer ' + access_token;
          // get user 'me' data and hydrate app objects.
          /*
           * NOTICE: this is duplicated with logic in Login.vue but we need
           * to account for scenario where we have a token but the token is expired.
           */
          this.fetchUser()
            .then(() => {
              //~ console.log("User Timezone: ", this.user.user_timezone);
              //~ console.log("Setup Stream (SSE)...");
              // this.setupStream({ notify_id: this.user.notify_id, sse: this.$sse, sseClient: this.sseClient })
              this.setupStream({ notify_id: this.user.notify_id, account: this.user.active_account_name, sse: this.$sse, sseClient: this.sseClient })
                //~ .then(() => {
                  //~ console.log("SSE Stream Setup!");
                //~ })
            })
            .then(() => {
              //~ console.log("Load initial user data");
              //~ console.log("- get User Points...");
              this.fetchUserPoints();
              //~ console.log("- get Points...");
              this.fetchPoints({account: this.user.active_account_name});
              //~ console.log("- get Accounting Totals...");
              this.fetchAccountingTotals({account: this.user.active_account_name, username: this.user.username});
              //~ console.log("- get Tasks...");
              this.fetchTasks();
              //~ console.log("- get Rewards...");
              this.fetchRewards();
              //~ console.log("");
              this.fetchLeaders({account: "default"});
              //~ console.log("- get Stashes...");
              this.fetchStashes({account: this.user.active_account_name, username: this.user.username});
              //~ console.log("- get User Messages...");
              this.fetchUserMessages()
                .then(() => {
                  Loading.hide()
                });
              //~ console.log("Initial user data loaded!");
            })
            .catch((error) => {
              //console.error("Error fetching user (typically caused by expired access token):", error);
              if ( error.response.status == 401 ) {
                console.log("Looks like your auth token has expired...");
                // delete LS token.
                this.resetUser();
                // show error message.
                this.$q.notify({
                    message: "Rehydrate User Error",
                    caption: "We could not rehydrate user data from your auth token. Please try signing in again.<br/><br/>You should contact support with details of the issue if this issue persists.",
                    spinner: false,
                    icon: 'bi-exclamation-triangle-fill',
                    color: 'red',
                    html: true,
                    position: 'center',
                    multiline: true,
                    timeout: 0,
                    actions: [
                        { icon: 'bi-x-circle', color: 'white', handler: () => { /* ... */ } }
                    ]
                });
                // redirect user to login page.
                this.$router.push('/login');
              }
            })
            .finally(() => {
              // close rehydration spinner.
              Loading.hide();
            });
        } else {
          //~ console.log("No access token found, user will need to Authenticate...");
          this.$router.push('/login');
        }
      }   // end if user is not good
    },
    methods: {
        ...mapActions('points', ['fetchPoints', 'fetchAccountingTotals', 'fetchLeaders']),
        ...mapActions('rewards', ['fetchRewards']),
        ...mapActions('sse', ['setupStream']),
        ...mapActions('stashes', ['fetchStashes', 'deleteStash', 'setActiveStash']),
        ...mapActions('tasks', ['fetchTasks',]),
        ...mapActions('user', ['fetchUser', 'fetchUserPoints', 'updateUser', 'resetUser']),
        ...mapActions('user_messages', ['fetchUserMessages']),

        easterEgg(id) {
          console.log("easter egg: ", id)
        },
        login() {
          if ( JSON.stringify(this.user) === '{}' ) {
            // console.log("no user...")
          } else {
            this.resetUser()
          }
          this.$router.push({ path: '/login' })
        },
        logout() {
          Loading.show({
              message: 'Signing user out...',
              boxClass: 'bg-grey-2 text-grey-9',
              messageColor: 'primary',
              spinnerColor: 'primary'
            })
          if ( typeof this.user.username != "undefined" ) {
            //console.log("- destroy user's notify_id...");
            this.updateUser({notify_id: ''});
            this.resetUser();
          }
          //console.log("- hack reload page...");
          // NOTICE: the above logs the user out but we still need to destroy (or ensure)
          //   that the SSE channel is closed - we do a hard page reload to do this (this is
          //   primarily done for development convenience but is also good to ensure updates).
          this.$router.push({ path: '/' })
          setTimeout(function () {
            location.reload()
            Loading.hide()
          }.bind(this), 500);
        },
        rightDrawerClick (e) {
          // if in "mini" state and user clicks on drawer, switch to 'normal' mode
          if (this.miniState) {
            this.miniState = false

            // notice we have registered an event with capture flag;
            // we need to stop further propagation as this click is
            // intended for switching drawer to "normal" mode only
            e.stopPropagation()
          //~ } else {
            //~ this.miniState = true
            //~ e.stopPropagation()
          }
        },
        to_ordinal (n) {
          return["st","nd","rd"][((n+90)%100-10)%10-1]||"th"
        },
        updateUserPref(pref, value, toggle) {
          let val = value;
          if (toggle) {
            val = !value
          }
          let user_obj = {};
          user_obj.preferences = {
              [pref]: val
          }
          //~ console.log("- updating user preference: ["+pref+"] - was: ["+value+"] to: ["+!value+"]");
          this.updateUser(user_obj);
        },
        updateAvatar(value) {
          //~ console.log("Updating user Avatar to:", value);
          this.updateUser({avatar: value})
            .then(() => {
              this.$q.notify({
                  message: "Avatar Updated!",
                  caption: "Your cool new Avatar is Lit!<br/><strong>That is one handsome dude!</strong>",
                  spinner: false,
                  icon: 'bi-emoji-sunglasses',
                  color: 'primary',
                  html: true,
                  position: 'top',
                  multiline: true,
                  timeout: 5000,
                  actions: [
                      { icon: 'bi-x-circle', color: 'white', handler: () => { /* ... */ } }
                  ]
              })
          })
        },
        updateUserTimezone(value) {
          //console.log("Updating user timezone to:", value);
          this.updateUser({user_timezone: value})
            .then(() => {
              this.$q.notify({
                  message: "Timezone Updated!",
                  caption: "Your timezone has been set to <strong>" + value + "</strong><br/>Hopefully that is where you are...or we are lost!",
                  spinner: false,
                  icon: 'bi-calendar2-date',
                  color: 'primary',
                  html: true,
                  position: 'top',
                  multiline: true,
                  timeout: 5000,
                  actions: [
                      { icon: 'bi-x-circle', color: 'white', handler: () => { /* ... */ } }
                  ]
              })
          })
        },
        stashAdd() {
          //~ console.log("- create a new stash...");
          // clear active stash
          this.setActiveStash({meta_label: 'Create a', meta_mode: 'add'});
          this.showAddEditStash = true;
        },
        stashEdit(item) {
          //~ console.log("- edit stash with label: " + item.id_);
          // set active_stash
          let _stash = Object.assign({}, item);
          _stash.meta_label = 'Edit';
          _stash.meta_mode = 'edit';
          this.setActiveStash(_stash);
          this.showAddEditStash = true;
        },
        stashDelete(item) {
          // confirm to delete
          this.$q.dialog({
            title: 'Confirm',
            message: "Delete Stash with Label '" + item.label + "'?",
            cancel: true,
            persistent: true
          }).onOk(() => {
            // console.log("- delete stash with id: " + item.id_);
            this.deleteStash(item.id_)
              .then((response) => {
                    this.fetchStashes({account: this.user.active_account_name, username: this.user.username});
                })
                .catch((error) => {
                    //console.log("Error in Adding stash:", error)
                    console.log("Error deleting stash: ", error)
                    this.$q.notify({
                        message: "Error Deleting Stash",
                        caption: "Stash with Label (" + this.stashToSubmit.label +") was note deleted due to the following error:<br/>" + error.message,
                        spinner: false,
                        icon: 'warning',
                        color: 'negative',
                        html: true,
                        position: 'top',
                        multiline: true,
                        timeout: 0,
                        actions: [
                            { icon: 'bi-x-circle', color: 'white', handler: () => { /* ... */ } }
                        ]
                    })
                })
          })
        },
    }
  }
</script>


<style lang="sass">
.my-card
  background-color: $primary

  .header-image
    height: 100%
    z-index: -1
    opacity: 0.4
    filter: grayscale(100%)
  .my-menu-link
    color: white
    background: #F2C037
  .mini-slot
    transition: background-color .28s
    &:hover
      background-color: rgba(0, 0, 0, .04)

  .mini-icon
    font-size: 2em

    & + &
      margin-top: 18px
.site-header-font
  font-family: 'verdana'
</style>
