<template>
    <q-card style="width: 65%">
        <q-card-section class="row">
          <div class="text-h6">Add Reward</div>
          <q-space />
          <q-btn flat round dense icon="bi-x-circle" v-close-popup />
        </q-card-section>

        <form @submit.prevent="submitForm">
            <q-card-section class="q-pt-none">
                <div class="q-mb-sm">
                    <q-input autofocus v-model="rewardToSubmit.name" label="Reward name" :rules="[val => !!val || 'Field is required']" ref="name" />
                </div>

                <div class="row q-mb-sm">

                     <div class="col-2">
                        <q-input
                          label="Value"
                          type="text"
                          v-model="rewardToSubmit.value"
                          lazy-rules :rules="[val => val !== null && val !== '' || 'Field is required', val => val > -1 && val < 999999 || 'Value must be from 0 to 999,999']"
                          class="q-mb-xs" />
                      </div>

                      <div class="col-3">
                        <q-input
                          label="Units"
                          type="text"
                          placeholder="Available units of reward"
                          v-model="rewardToSubmit.available_units"
                          class="q-pb-sm q-mb-md q-ml-sm">
                          <q-tooltip>
                            <div class="text-body1">Available units of reward (leave empty for no limit)</div>
                          </q-tooltip>
                        </q-input>
                      </div>

                      <div class="col">
                        <q-select
                          label="Kind"
                          v-model="rewardToSubmit.kind"
                          :options="kind_options"
                          class="q-ml-sm" />
                      </div>

                </div>

                <div class="q-mb-sm">

                    <q-input autogrow v-model="rewardToSubmit.description" label="Reward description" />

                </div>

                <div class="q-mb-sm">
                    <q-input class="q-pb-sm q-mb-xs" style="width: 100%"
                        label="Icon for Reward"
                        v-model="rewardToSubmit.icon"
                        hint="use any Material or LineAwesome icon">
                        <q-tooltip>
                            if using a LineAwesome icon you need to prefix it with la, e.g. 'la la-bug' rather than 'la-bug'
                        </q-tooltip>
                    </q-input>
                </div>
            </q-card-section>

            <q-card-actions align="right">
              <q-btn label="Add" color="primary" type="submit" />
            </q-card-actions>
        </form>
    </q-card>
</template>

<script>
    import {mapActions } from 'vuex'
    import { mapGetters} from 'vuex'

    export default {
        data() {
            return {
                rewardToSubmit: {
                    "account":"",
                    "name":"",
                    "value": 1,
                    "description":"",
                    "icon":"",
                    "enabled":true
                },
                pagination: {
                  itemsPerPage: 24,
                  page: 0
                },
                rewardIconFilter: '',
                kind_options: [
                  'general',
                  'system'
                ]
            }
        },
        computed: {
            ...mapGetters('user', ['user']),
        },
        methods: {
            ...mapActions('rewards', ['addReward']),
            submitForm() {
                this.$refs.name.validate()
                if (!this.$refs.name.hasError) {
                    this.rewardToSubmit.account = this.user.active_account_name
                    this.rewardToSubmit.enabled = true
                    this.submitReward()
                }
            },
            submitReward() {
                this.addReward(this.rewardToSubmit)
                this.$root.$emit('rewards-load')
                this.$emit('close')
            }
        }
    }
</script>
