<template>
    <q-card style="width: 65%">
        <q-card-section class="row">
          <div class="text-h6">Add Task</div>
          <q-space />
          <q-btn flat round dense icon="bi-x-circle" v-close-popup />
        </q-card-section>

        <form @submit.prevent="submitForm">
            <q-card-section class="q-pt-none">
                <div class="q-mb-sm">
                    <q-input autofocus v-model="taskToSubmit.name" label="Name" :rules="[val => !!val || 'Field is required']" ref="name" />
                </div>

                <div class="row q-mb-sm">

                  <div class="col-2">
                    <q-input
                      label="Value"
                      type="text"
                      v-model="taskToSubmit.value"
                      lazy-rules :rules="[val => val !== null && val !== '' || 'Field is required', val => val > -1 && val < 999999 || 'Value must be from 0 to 999,999']"
                      class="q-mb-xs" />
                  </div>

                  <div class="col-3">
                    <q-input
                      label="Units"
                      type="text"
                      placeholder="Available units of task"
                      v-model="taskToSubmit.available_units"
                      class="q-pb-sm q-mb-md q-ml-sm">
                      <q-tooltip>
                        <div class="text-body1">Available units of task (leave empty for no limit)</div>
                      </q-tooltip>
                    </q-input>
                  </div>

                  <div class="col">
                    <q-select
                      label="Kind"
                      v-model="taskToSubmit.kind"
                      :options="kind_options"
                      class="q-ml-sm" />
                  </div>

                </div>

                <div class="q-mb-sm">
                    <q-input
                      label="Description"
                      autogrow
                      v-model="taskToSubmit.description" />
                </div>

                <div class="q-mb-sm">

                    <q-input
                      label="Icon for Task"
                      hint="use any Material or LineAwesome icon"
                      class="q-pb-sm q-mb-xs"
                      style="width: 100%"
                      v-model="taskToSubmit.icon">
                        <q-tooltip>
                        if using a LineAwesome icon you need to prefix it with la, e.g. 'la la-bug' rather than 'la-bug'
                        </q-tooltip>
                    </q-input>

                </div>

                <div class="q-mb-sm">

                    Table where we can add tags...

                </div>
            </q-card-section>

            <q-card-actions align="right">
              <q-btn label="Add" color="primary" type="submit" />
            </q-card-actions>
        </form>
    </q-card>
</template>

<script>
    import {mapActions } from 'vuex'
    import { mapGetters} from 'vuex'

    export default {
        data() {
            return {
                taskToSubmit: {
                    "account":"",
                    "name":"",
                    "value": 1,
                    "description":"",
                    "icon":"",
                    "enabled":true
                },
                pagination: {
                  itemsPerPage: 24,
                  page: 0
                },
                taskIconFilter: '',
                kind_options: [
                  'general',
                  'system'
                ]
            }
        },
        computed: {
            ...mapGetters('user', ['user']),
        },
        methods: {
            ...mapActions('tasks', ['addTask']),

            submitForm() {
                this.$refs.name.validate()
                if (!this.$refs.name.hasError) {
                    this.taskToSubmit.account = this.user.active_account_name
                    this.taskToSubmit.enabled = true
                    this.submitTask()
                }
            },
            submitTask() {
                this.addTask(this.taskToSubmit)
                this.$root.$emit('tasks-load')
                this.$emit('close')
            }
        }
    }
</script>
