<template>

  <q-card class="my-card bg-white text-white">
      <q-card-section class="bg-primary">
        <div class="text-h5 row">
            <q-icon flat size="md" color="white" :name="this.active_task.icon" class="q-pa-none" />
            <span class="q-pl-sm">{{ this.active_task.name }}<q-tooltip>{{ this.active_task.description }}</q-tooltip></span>
            <span class="q-pr-sm q-pl-sm">/</span>
            <span class="">{{ this.active_task.value }}<q-tooltip>amount of points the task is worth</q-tooltip></span>
        </div>
        <div class="text absolute-right q-pt-sm q-pr-sm">
            <q-btn flat round dense icon="bi-x-circle" @click="showQuickSubmit(false)" />
        </div>
      </q-card-section>

      <q-form @submit.prevent="submitForm">
          <q-card-section class="q-pt-none q-mt-none">

              <div class="row q-mb-sm">
                <div class="col-2">
                  <q-input autofocus
                      label="Quantity"
                      v-model="taskToSubmit.quantity"
                      align="right" numeric-keyboard-toggle
                      lazy-rules
                      :rules="[val => val !== null && val !== '' || 'Field is required', val => val > 0 && val < 999999 || 'Value must be between 0 to 999,999']"
                      >

                      <q-tooltip>
                        <div class="text-body1">Number of unit<br/>NOTE: amount used will be Quantity * Value</div>
                      </q-tooltip>
                  </q-input>
                </div>

                <div class="col">
                  <q-input label="Note"
                      autogrow
                      v-model="taskToSubmit.note"
                      :rules="[val => val.length >4 || 'Field is required and must be >=5 chacters long']"
                      class="q-pl-md">
                      <q-tooltip>
                        <div class="text-body1">Please enter a Note describing your submission</div>
                      </q-tooltip>
                  </q-input>
                </div>

                <div class="col-2 q-pl-sm" v-if="this.user.active_account_role =='admin'">
                  <q-input v-model="taskToSubmit.username" label="User" type="text" v-if="this.user.active_account_role =='admin'">
                    <q-tooltip>
                      <div class="text-body1">specify username if submitting for another user (leave blank for current user, supports csv list of users - e.g. "drad, natalie, addalie")</div>
                    </q-tooltip>
                </q-input>
                </div>
              </div>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="Submit" color="blue-grey-12" type="submit" />
          </q-card-actions>
      </q-form>
    </q-card>

</template>

<script>
    import { ref, computed } from 'vue'

    import { mapActions } from 'vuex'
    import { mapGetters } from 'vuex'

    export default {
        setup () {
          return {
              //~ columns,
              //~ visibleColumns,
              //~ hideBottom: ref(true),
              //~ hidePagination: ref(true),
          }
        },
        data () {
            return {
                //~ showQuickSubmit: false,
              taskToSubmit: {
                "account": "",
                "quantity": 1,
                "note": "",
                "username": "",
              },
              //~ active_task: {
                //~ "account": "",
                //~ "quantity": 1,
                //~ "note": "",
                //~ "username": "",
              //~ }

            }
        },
        created () {
            // CAREFUL; this is called each time you hit the 'page'
        },
        mounted () {
            // this.stashToSubmit = Object.assign({}, this.active_stash);
        },
        components: {
          //~ 'quick-submit': require('components/Tasks/Modals/QuickSubmit.vue').default,
        },
        computed: {
          ...mapGetters('user', ['user',]),
          ...mapGetters('tasks', ['active_task']),

        },
        methods: {
            ...mapActions('tasks', ['showQuickSubmit']),
            ...mapActions('points', ['addPoint']),

            submitForm() {
              let point = {
                  account: this.user.active_account_name,
                  username: this.user.username,
                  status: "created",
                  point_type: "tasks",
                  point_key: this.active_task.id_,
                  note: this.taskToSubmit.note,
                  quantity: this.taskToSubmit.quantity,
              }

              if (this.user.active_account_role =='admin' && this.taskToSubmit && this.taskToSubmit.username && this.taskToSubmit.username.length > 0) {
                point.username = this.taskToSubmit.username
              }
              this.addPoint(point)
                .then((response) => {
                    // reset items.
                    this.active_task = {}
                    this.taskToSubmit = {quantity: 1, note: ""}
                })
                .then((response) => {
                    // close add dialog
                    this.showQuickSubmit(false)
                })
                .then((response) => {
                    this.$q.notify({
                        message: "Task submitted!",
                        caption: "You will be notified once the task has been approved.",
                        spinner: false,
                        icon: 'bi-postcard',
                        color: 'info',
                        html: true,
                        position: 'top',
                        multiline: true,
                        timeout: 4000
                    })
                })
                .catch((error) => {
                    console.log('Error performing Add:', error)
                })
            }
        }
    }
</script>
