<template>

    <q-card class="my-card bg-white text-white">
      <q-card-section class="bg-green">
        <div class="text-h5">
            <q-icon size="26px" name="bi-cash" class="vertical-top" />
            Earn Points
        </div>
        <div class="text absolute-right q-pt-sm q-pr-sm">
          <q-btn flat round dense icon="bi-x-circle" v-close-popup />
        </div>
      </q-card-section>


    <!--
        @TODO the filter piece is not working, the basis of it should be the [lazy loading options](https://quasar.dev/vue-components/select#example--lazy-load-options)
        @filter="filterFn"
        :model-value="model"
        :rules="[ val => val && val.length > 0 || 'Please select a Task from the list' ]"
        use-input
        hide-selected
        fill-input
    -->

      <q-form @submit="onSubmit" ref="submitTaskForm">
        <q-card-section  class="justify-center">
          <div class="row">
            <div class="col">
                <q-select
                    autofocus
                    label="Task"
                    v-model="pointToSubmit.task"
                    input-debounce="0"
                    :options="this.listTasks"
                    class="text-white"
                    style="width: 100%; padding-bottom: 32px"
                    options-selected-class="text-green"
                  >
                    <template v-slot:option="scope">
                      <q-item v-bind="scope.itemProps">
                        <q-item-section avatar>
                          <q-icon :name="scope.opt.icon" />
                        </q-item-section>
                        <q-item-section>
                          <q-item-label>{{ scope.opt.label }}</q-item-label>
                          <q-item-label caption>{{ scope.opt.description }}</q-item-label>
                        </q-item-section>
                      </q-item>
                    </template>
                    <template v-slot:no-option>
                      <q-item>
                        <q-item-section class="text-grey">
                          No results
                        </q-item-section>
                      </q-item>
                    </template>
                    <q-tooltip>
                      <div class="text-body1">Task completed</div>
                    </q-tooltip>
                  </q-select>
            </div>
            <div class="col-2 q-mr-md">
                <q-input
                    label="Quantity"
                    v-model.number="pointToSubmit.quantity"
                    align="right"
                    numeric-keyboard-toggle
                    type="number"
                    lazy-rules
                    step="any"
                    :rules="[val => val !== null && val !== '' || 'Field is required', val => val > 0 && val < 999999 || 'Value must be between 0 to 999,999']"
                    style="width: 100px;"
                    class="q-pl-md">
                    <q-tooltip>
                      <div class="text-body1">Number of units<br/>NOTE: amount used will be Quantity * Value</div>
                    </q-tooltip>
                </q-input>
            </div>
          </div>
          <div class="row">
            <div class="col">
                <q-input
                    label="Note"
                    autogrow
                    v-model="pointToSubmit.note"
                    :rules="[val => val && val.length >4 || 'Field is required and must be >=5 chacters long']"
                    style="width: 100%;"
                    class="">
                    <q-tooltip>
                      <div class="text-body1">Please enter a Note describing your submission</div>
                    </q-tooltip>
                </q-input>
            </div>
            <div class="col-2 q-mr-md">
                <q-input
                    label="For User"
                    autogrow
                    filled
                    bg-color="yellow-4"
                    v-model="pointToSubmit.user_override"
                    type="text"
                    v-if="this.user.active_account_role =='admin'"
                    style="width: 120px;"
                    class="q-pl-xs q-pr-sm">
                    <q-tooltip>
                      <div class="text-body1">specify username if submitting for another user (leave blank for current user, supports csv list of users - e.g. "drad, natalie, addalie")</div>
                    </q-tooltip>
                </q-input>
            </div>
          </div>

      </q-card-section>


      <q-separator />

      <q-card-actions class="justify-center">
        <q-btn flat text-color="green" label="Earn" type="submit" />
      </q-card-actions>
      </q-form>
    </q-card>

</template>

<script>
    import {mapActions } from 'vuex'
    import { mapGetters} from 'vuex'
    import { ref } from 'vue'

    //~ const stringOptions = ['Empty']

    export default {
        setup () {},
        data() {
            return {
                pointToSubmit: {
                    task:  { label: "Rader Run (1mi)", value: "default:mile-run", description: "One mile run", "icon": "directions_run" },
                    quantity: 1,
                    note: '',
                    user_override: ''
                },
                pagination: {
                  itemsPerPage: 24,
                  page: 0
                },
                taskIconFilter: '',
            }
        },
        computed: {
            ...mapGetters('user', ['user']),
            ...mapGetters('tasks', ['tasks']),

            orderedTasks: function () {
                return _.orderBy(this.tasks, 'name')
            },
            listTasks: function () {
                let tasks = this.orderedTasks.filter(t => t.enabled).map(function(o) { return { "label": o.name, "value": o.id_, "description": o.description, "icon": o.icon }});
                return tasks;
            }
        },
        methods: {
            ...mapActions('points', ['addPoint']),

            onSubmit() {
                //console.log("- submit form, validating pointToSubmit of:", this.pointToSubmit)
                this.$refs.submitTaskForm.validate()
                if (!this.$refs.submitTaskForm.hasError) {
                    // build the object to submit.
                    let point = {
                        account: this.user.active_account_name,
                        username: this.user.username,
                        status: "created",
                        point_type: "tasks",
                        point_key: this.pointToSubmit.task.value,
                        note: this.pointToSubmit.note,
                        quantity: this.pointToSubmit.quantity,
                    }
                    // override username if provided (note: admin role is checked on API as well)
                    if (this.user.active_account_role =='admin' && this.pointToSubmit && this.pointToSubmit.user_override && this.pointToSubmit.user_override.length > 0) {
                        point.username = this.pointToSubmit.user_override
                    }

                    // submit for each user.
                    let users = point.username.split(',').map(function(item){return item.trim(); });
                    //console.log("- users:", users);
                    for (let i=0; i < users.length; i++) {
                        point.username = users[i]
                        //console.log("- submitting point for user of:", point);
                        // submit
                        this.addPoint(point)
                        .then((response) => {
                            //console.log("- addPoint response (vue):", response);
                            // close add dialog
                            this.showSubmitTask = false
                            this.$emit('close')
                        })
                        .then((response) => {
                            this.$q.notify({
                                message: "Task submitted!",
                                caption: "You will be notified once the task has been approved.",
                                spinner: false,
                                icon: 'bi-postcard',
                                color: 'info',
                                html: true,
                                position: 'top',
                                multiline: true,
                                timeout: 4000
                            })
                        })
                        .catch((error) => {
                            console.log('Error performing Add:', error)
                        })
                    }
                }
            },
            filterFn (val, update, abort) {
                let tasks = this.listTasks;
                console.log("- tasks=", tasks);
                // console.log("- val=", val);
                if (val === '') {
                    update(() => {
                      this.options = tasks
                    })
                    return
                }
                update(() => {
                  const needle = val.toLowerCase()
                  console.log("- needle=", needle)
                  //~ this.options = this.listTasks.filter(v => v.toLowerCase().indexOf(needle) > -1)
                  this.options = tasks.filter(function (v) {
                      console.log(" - v=", v)
                      return v.label.toLowerCase().indexOf(needle) > -1
                  });
                })
            },
        },
        //~ watch: {
            //~ listTasks  (oldVal, newVal) {
                //~ this.stringOptions = newVal
            //~ }
        //~ },
    }
</script>
