<template>

  <div
    class="shadow-4 rounded-borders q-pa-md q-mb-md"
    style="background-color: rgba(255, 255, 255, .35);"
    v-if="daily_tasks.length > 0 || promoted_tasks.length > 0 || important_tasks.length > 0">
    <div class="row text-h5 text-green-10 text-italic">
      Tasks
    </div>
    <div class="q-pa-md row items-start q-gutter-md">

        <!-- Daily -->
        <q-card dark bordered class="bg-blue-grey-11" v-if="daily_tasks.length > 0">

          <q-card-section  class="q-pa-xs">
              <q-table
                  flat
                  title="Daily"
                  class="bg-blue-grey-11 text-blue-grey-10"
                  :visible-columns="visibleColumns"
                  :rows="daily_tasks"
                  :columns="columns"
                  :loading="tasks_loading"
                  row-key="name"
                  :hide-bottom="true"
                  :hide-header="true"
                  :hide-pagination="true"
                  :rows-per-page-options="[0]"
                  v-model:pagination="pagination"
                  >

                  <template v-slot:body="props">
                      <q-tr :props="props" class="cursor-pointer" @click="onRowClick(props.row);">

                          <q-td>
                              <q-icon flat size="md" color="blue" :name="props.row.icon" class="q-pa-none" />
                          </q-td>

                          <q-td v-for="col in props.cols" :key="col.name" :props="props">
                            {{ col.value }}
                            <q-tooltip anchor="top right" class="bg-blue-grey-8 text-white">
                                {{ props.row.description }}
                            </q-tooltip>
                          </q-td>

                      </q-tr>
                  </template>

              </q-table>
          </q-card-section>

        </q-card>

        <!-- Promoted -->
        <q-card dark bordered class="bg-amber-8 items-start" v-if="promoted_tasks.length > 0">

          <q-card-section class="q-pa-xs">
              <q-table
                  flat
                  title="Promoted"
                  class="text-white bg-amber-8"
                  :visible-columns="visibleColumns"
                  :rows="promoted_tasks"
                  :columns="columns"
                  :loading="tasks_loading"
                  row-key="name"
                  :hide-bottom="true"
                  :hide-header="true"
                  :hide-pagination="true"
                  :rows-per-page-options="[0]"
                  v-model:pagination="pagination"
                  >

                  <template v-slot:body="props">
                      <q-tr :props="props" class="cursor-pointer" @click="onRowClick(props.row);">

                          <q-td>
                              <q-icon flat size="md" color="amber-2" :name="props.row.icon" class="q-pa-none" />
                          </q-td>

                          <q-td v-for="col in props.cols" :key="col.name" :props="props">
                            {{ col.value }}
                            <q-tooltip anchor="top right" class="bg-amber-10 text-white">
                                {{ props.row.description }}
                            </q-tooltip>
                          </q-td>

                      </q-tr>
                  </template>

              </q-table>
          </q-card-section>

        </q-card>

        <!-- Important -->
        <q-card dark bordered class="bg-deep-orange-8" v-if="important_tasks.length > 0">

          <q-card-section class="q-pa-xs">
              <q-table
                  flat
                  title="Important"
                  class="text-white bg-deep-orange-8"
                  :visible-columns="visibleColumns"
                  :rows="important_tasks"
                  :columns="columns"
                  :loading="tasks_loading"
                  row-key="name"
                  :hide-bottom="true"
                  :hide-header="true"
                  :hide-pagination="true"
                  :rows-per-page-options="[0]"
                  v-model:pagination="pagination"
                  >

                  <template v-slot:body="props">
                      <q-tr :props="props" class="cursor-pointer" @click="onRowClick(props.row);">

                          <q-td>
                              <q-icon flat size="md" color="deep-orange-2" :name="props.row.icon" class="q-pa-none" />
                          </q-td>

                          <q-td v-for="col in props.cols" :key="col.name" :props="props">
                            {{ col.value }}
                            <q-tooltip anchor="top right" class="bg-deep-orange-2 text-black">
                                {{ props.row.description }}
                            </q-tooltip>
                          </q-td>

                      </q-tr>
                  </template>

              </q-table>
          </q-card-section>

        </q-card>
    </div>

    <q-dialog persistent v-model="this.show_quick_submit">
      <quick-submit @close="showAddTask = false" />
    </q-dialog>
  </div>

</template>

<script>
    import { date } from 'quasar'
    import { ref, computed } from 'vue'
    import _ from 'lodash'

    import { mapActions } from 'vuex'
    import { mapGetters } from 'vuex'

    const columns = [
        {name: 'name', label: 'Name', required: true, field: 'name', sortable: true, align: 'left', style: 'width: 100%'},
        {name: 'value', label: 'Value', required: true, field: 'value', sortable: true, align: 'left', style: 'width: 1px'},
        {name: 'description', label: 'Description', required: false, field: 'description', sortable: true, align: 'left'},
        {name: 'available_units', label: 'Available', required: false, field: 'available_units', sortable: true, align: 'left', style: 'width: 1px'},
        {name: 'created', label: 'Created', required: false, field: 'created', sortable: true, style: 'width: 100px', format: val => date.formatDate(new Date(val+"Z") , 'YYYY-MM-DD')},
      ]
    const visibleColumns = ["name", "value"]

    export default {
        setup () {
          return {
              columns,
              visibleColumns,
              hideBottom: ref(true),
              hidePagination: ref(true),

              pagination: ref({
                rowsPerPage: 0
              })
          }
        },
        data () {
            return {
                // stashToSubmit: {},
                activeTask: {},
                //showQuickSubmit: false,
            }
        },
        created () {
            // CAREFUL; this is called each time you hit the 'page'
        },
        mounted () {
            // this.stashToSubmit = Object.assign({}, this.active_stash);
        },
        components: {
          'quick-submit': require('components/Tasks/Modals/QuickSubmit.vue').default,
        },
        computed: {
            ...mapGetters('user', ['user',]),
            //...mapGetters('stashes', ['active_stash']),
            ...mapGetters('tasks', ['tasks', 'tasks_loading', 'active_task', 'show_quick_submit']),

            daily_tasks: function () {
                let tasks = this.tasks.filter(task => { return task.groups.length >  0 && task.groups.find(x => x.label === 'daily') })

                //~ return _.orderBy(daily, ['name'], ['asc'])
                return _.orderBy(tasks, ['groups[1].priority'], ["desc"])
            },
            promoted_tasks: function () {
                let tasks = this.tasks.filter(task => { return task.groups.length >  0 && task.groups.find(x => x.label === 'promoted') })

                //~ return _.orderBy(daily, ['name'], ['asc'])
                return _.orderBy(tasks, ['groups[1].priority'], ["desc"])
            },
            important_tasks: function () {
                let tasks = this.tasks.filter(task => { return task.groups.length >  0 && task.groups.find(x => x.label === 'important') })

                //~ return _.orderBy(daily, ['name'], ['asc'])
                return _.orderBy(tasks, ['groups[1].priority'], ["desc"])
            },

        },
        methods: {
            ...mapActions('stashes', ['addStash', 'editStash', 'fetchStashes']),
            ...mapActions('tasks', ['setActiveTask', 'showQuickSubmit']),

            onRowClick (row) {
              //console.log('clicked on task: ' + row.id_, row)
              // set selectedTask
              //this.activeTask = row
              this.setActiveTask(row);
              // show submit task dialog
              this.showQuickSubmit(true)
            },

        }
    }
</script>
