<template>

      <q-btn flat dense icon="bi-wechat" size="md" class="q-ml-none q-mr-none" padding="xs" v-if="this.user.username">
        <q-tooltip>Messages</q-tooltip>

        <q-badge floating color="red" rounded v-if="this.number_user_messages > 0">{{ this.number_user_messages }}</q-badge>
        <q-menu fit >
          <div class="row no-wrap q-pa-md app-bkg-color" style="max-width: 810px !important; min-width: 810px !important;">
            <div class="col" style="width: 100%;">
              <div class="text-h6 q-mb-md" style="width: 100%;">
                <q-icon name="bi-chat-square-dots" style="font-size: 28px;" class="text-primary" />
                Messages
                <div class="row absolute-top-right no-wrap">

                  <q-btn round flat dense size="lg" color="primary" icon="bi-plus-circle-fill" class="q-mr-md" @click="triggerAddMessage()" >
                    <q-tooltip>
                      <div class="text-body1">create a new message</div>
                    </q-tooltip>
                  </q-btn>

                  <q-input flat dense ripple debounce="300" color="primary" v-model="user_messages_filter" placeholder="Search" input-style="" input-class="text-body1">
                    <template v-slot:append>
                      <q-icon name="bi-search"  />
                    </template>
                  </q-input>

                  <q-btn flat round dense ripple color="primary" icon="bi-arrow-repeat" class="float-right q-mr-md" @click="getData">
                    <q-tooltip>
                      <div class="text-body1">refresh</div>
                    </q-tooltip>
                  </q-btn>

                </div>
              </div>
              <div class="col" style="width: 100%;">
                <q-table
                  card-class="app-bkg-color-sub"
                  row-key="id_"
                  :rows="user_messages"
                  :columns="user_messages_columns"
                  :visible-columns="user_messages_visible_columns"
                  :pagination="user_messages_initial_pagination"
                  :filter="user_messages_filter"
                  selection="multiple"
                  v-model:selected="selected"
                  hide-selected-banner
                  no-data-label="You have no messages!"
                  no-data-icon="mail">

                  <template v-slot:header="props">
                    <q-tr :props="props">

                      <q-th class="text-left">
                        <!-- header row for expand and type -->
                        <q-checkbox dense flat v-model="props.selected" />
                        <q-btn round flat dense icon="bi-trash2-fill" color="red" v-if="selected.length > 0" @click="deleteUserMessages(selected)">
                          <q-tooltip>
                            Delete selected Messages
                          </q-tooltip>
                        </q-btn>
                      </q-th>

                      <q-th v-for="col in props.cols" :key="col.name" :props="props">
                        {{ col.label }}
                      </q-th>

                    </q-tr>
                  </template>

                  <template v-slot:body-selection="scope">
                    <q-toggle v-model="scope.selected" />
                  </template>

                  <template v-slot:body="props">
                    <q-tr :props="props" :class="tableRowFormat(props.row.status, props.row.priority)" @dblclick="onRowDblClick('', props.row, 0)">
                      <q-td auto-width>

                        <q-checkbox dense v-model="props.selected" :label="props.row.name" />

                        <q-btn round ripple push flat dense size="sm" @click="props.expand = !props.expand" :icon="props.expand ? 'bi-chevron-up' : 'bi-chevron-down'">
                            <q-tooltip>
                              <div class="text-body1">expand</div>
                            </q-tooltip>
                        </q-btn>

                        <!-- Status -->
                        <!-- drad: we use bold on row instead
                        <q-icon flat dense size="sm" class="q-pl-xs" color="primary"
                          :name="user_message_status_icon(props.row.status)" >
                          <q-tooltip>
                            <div class="text-body1">{{ props.row.status }}</div>
                          </q-tooltip>
                        </q-icon>
                        -->

                        <!-- Priority -->
                        <!-- drad: we use row bg color instead
                        <q-icon flat dense size="sm" class="q-pl-xs" color="primary"
                          :name="user_message_priority_icon(props.row.priority)" >
                          <q-tooltip>
                            <div class="text-body1">{{ props.row.priority }}</div>
                          </q-tooltip>
                        </q-icon>
                        -->

                        <!-- Category -->
                        <q-icon flat dense size="sm" class="q-pl-xs" color="primary"
                          :name="user_message_category_icon(props.row.category)" >
                          <q-tooltip>
                            <div class="text-body1">{{ props.row.category }}</div>
                          </q-tooltip>
                        </q-icon>

                      </q-td>

                      <!-- all column columns -->
                      <q-td auto-width v-for="col in props.cols" :key="col.name" :props="props">
                        {{ col.value }}
                      </q-td>

                    </q-tr>

                    <!-- Expand Row -->
                    <q-tr v-show="props.expand" :props="props" style="background: rgba(200, 210, 246, .2);">
                      <q-td>
                        <!-- select row -->
                      </q-td>
                      <q-td auto-width colspan="2" class="text-left">
                        <!-- NOTE: use v-html so we can render raw html in the message -->
                        <div class="text-left" v-if="props.row.message" v-html="props.row.message" />
                      </q-td>
                      <q-td auto-width colspan="2">
                        <div class="text-right">
                            {{ props.row.from_user_id }} / {{ props.row.creator }}
                            <q-tooltip>from/creator</q-tooltip>
                        </div>
                      </q-td>
                    </q-tr>

                  </template>

                  <template v-slot:no-data="">
                    <div class="full-width row flex-center text-secondary q-gutter-sm">
                      <q-icon size="2em" name="bi-emoji-astonished"></q-icon>
                      <span>You have no messages!</span>
                    </div>
                  </template>

                </q-table>
              </div>
            </div>
          </div>
        </q-menu>

      </q-btn>

      <q-dialog v-model="showAddMessageForm">
        <AddUserMessage @close="showAddMessageForm = false" formType="Add" />
      </q-dialog>

</template>

<script>
  import { ref, computed } from 'vue'
  import { mapActions} from 'vuex'
  import { mapGetters} from 'vuex'
  import _ from 'lodash'
  import { Loading } from 'quasar'
  import { date } from 'quasar'

  export default {
    name: 'MyLayout',

    data () {
      return {
        // NOTE: set *Drawer to true to start visible, false to start hidden.
        drawer: false,
        miniState: true,
        showAddForm: false,
        showAddMessageForm: false,
        showSettings: false,
        loading: false,

        user_messages_visible_columns: ["creator", "subject"],
        user_messages_columns: [
          { name: 'to_user_id', align: 'left', label: 'To', field: 'to_user_id' },
          { name: 'from_user_id', align: 'left', label: 'From', field: 'from_user_id', style: 'width: 100px;' },
          { name: 'creator', align: 'left', label: 'From', field: 'creator', style: 'width: 100px;' },
          { name: 'status', align: 'left', label: 'Status', field: 'status' },
          { name: 'priority', align: 'left', label: 'Priority', field: 'priority' },
          { name: 'category', align: 'left', label: 'Category', field: 'category' },
          { name: 'subject', required: true, align: 'left', label: 'Subject', field: 'subject', style: 'width: 400px' },
          { name: 'message', align: 'left', label: 'Message', field: 'message' },
          { name: 'created', required: true, align: 'left', label: 'Date', field: 'created', format: val => date.formatDate(new Date(val+"Z") , 'YYYY-MM-DD HH:mm'), style: 'width: 150px;'},
        ],
        user_messages_initial_pagination: {
          sortBy: 'created',
          descending: true,
          page: 1,
          rowsPerPage: 7
          //rowsNumber: 184   //if getting data from a server
        },
        //user_messages_selected: ref([this.user_messages[ 1 ]]),
        local_user: {
          preferences: {
            process_activity_notes: false,
          },
        },
        data: [
          {
            status: '   loading... '
          }
        ],
        // NOTE: leadersBling is in order of appearance, first item will be given to user with most points, etc.
        //~ leadersBling: [
            //~ { "color": "yellow-7", "textcolor": "black", "badge": "stars" },
            //~ { "color": "grey-2", "textcolor": "black", "badge": "auto_awesome" },
            //~ { "color": "orange-9", "textcolor": "black", "badge": "emoji_events" },
        //~ ]
      }
    },
    setup () {
      const selected = ref([])
      //const hasData = ref(true)

      return {
        user_messages_filter: ref(''),
        selected,
      }
    },
    computed: {
      ...mapGetters('user', ['user']),
      ...mapGetters('user_messages', ['user_messages']),
      ...mapGetters('sse', ['sseClient']),

      number_user_messages () {
        //console.log("- number of user messages:", this.user_messages.length);
        return this.user_messages.length
      },
      //~ orderedTasks: function () {
        //~ return _.orderBy(this.tasks, 'created', 'desc').splice(0, 4)
      //~ },
      //~ orderedLeaders: function () {
        //~ return _.orderBy(this.leaders, 'amount', 'desc')
      //~ },
      userMenuIcon: function () {
        if (this.user.username) {
          if (this.user.avatar && this.user.avatar.length > 0) {
            return 'img:' + this.user.avatar
          } else {
            return 'face'
          }
        } else {
          return 'account_circle'
        }
      },

    },
    components: {
      AddUserMessage: require('components/UserMessages/Modals/Add.vue').default,
    },
    filters: {
      capitalize:  function(value)  {
        if  (!value)  {
          return  "";
        }
        value  =  value.toString();
        return  value.charAt(0).toUpperCase()  +  value.slice(1);
      },
      formatDate: function(value)  {
        if  (!value)  {
          return  "";
        }
        return date.formatDate(value, 'MMM Do')
      },
    },
    created () {},
    mounted() {},
    methods: {
        ...mapActions('user', ['updateUser', 'resetUser']),
        ...mapActions('user_messages', ['fetchUserMessages', 'deleteUserMessage']),
        ...mapActions('sse', ['disconnectSseClient']),

        user_message_priority_icon: function (label) {
          if (label === 'normal') {
            return 'notifications'
          } else if (label === 'high') {
            return 'notification_important'
          } else if (label === 'low') {
            return 'notifications_paused'
          } else {
            return 'campaign'
          }
        },
        user_message_status_icon: function (label) {
          if (label === 'new') {
            return 'grade'
          } else if (label === 'read') {
            return ''
          } else if (label === 'deleted') {
            return ''
          } else {
            return ''
          }
        },
        user_message_category_icon: function (label) {
          if (label === 'user') {
            return 'bi-person-fill'
          } else if (label === 'webdav handler') {
            return 'bi-cloud-arrow-up-fill'
          } else if (label === 'enricher') {
            return 'bi-node-plus-fill'
          } else {
            return ''
          }
        },
        promptToDelete(id) {
          this.$q.dialog({
            title: 'Confirm',
            message: 'Really delete?',
            cancel: true,
            persistent: true
          }).onOk(() => {
            this.deleteUserMessage(id)
          })
        },
        getData() {
          // NOTE: this is used by the refresh button.
          this.fetchUserMessages({})
        },
        tableRowFormat(status, priority) {
          let r_status = ""
          let r_priority = ""
          if ( status === 'new' ) {
            r_status = "text-bold"
          } else {
            r_status = "text-normal"
          }
          if ( priority === 'high' ) {
            r_priority = "bg-red-3 text-white"
          } else if ( priority === 'normal' ) {
            r_priority = ""
          } else {
            r_priority = "bg-blue-grey-2 text-blue-grey"
          }
          return r_status + " " + r_priority
        },
        triggerAddMessage() {
          //this.setSelectedActivity({});
          this.showAddMessageForm = true;
        },
        deleteUserMessages(sel) {
          // @TODO: we may want to move this to a batch delete later for performance (on the server) reasons.
          this.$q.dialog({
            title: 'Confirm',
            message: 'Are you sure you want to delete the ' + sel.length + ' messages?',
            cancel: true,
            persistent: true
          }).onOk(() => {
            for (let i = 0; i < sel.length; i++) {
              //console.log("- delete message with id: " + sel[i].id_);
              // delete user message.
              this.deleteUserMessage(sel[i].id_)
            }
            this.selected = []
          })
        },
        onRowDblClick (evt, row, index) {
            // row double click: open the message
            //~ console.log('double clicked on', row);
            console.log('Showing message with id: ' + row.id_);
            /*
              I'm not sure what type of display would work here, honestly what we have is fine but it needs a reply option....
            */

            //~ this.$q.notify({
                //~ message: "this is the Message",
                //~ caption: "This is the caption",
                //~ spinner: false,
                //~ icon: 'bi-chat-square-fill',
                //~ color: 'info',
                //~ html: true,
                //~ position: 'center',
                //~ multiline: true,
                //~ timeout: 0,
                //~ actions: [
                  //~ { icon: 'bi-x', color: 'white', round: true, handler: () => { /* ... */ } }
                //~ ]
            //~ })
        },
    },
    beforeUnmount() {}
  }
</script>
