<template>

    <q-card class="my-card bg-white text-white">
      <q-card-section class="bg-blue-6">
        <div class="text-h5">
            <q-icon size="26px" name="bi-wallet" class="vertical-top" />
            Send Points
        </div>
        <div class="text absolute-right q-pt-sm q-pr-sm">
          <q-btn flat round dense icon="bi-x-circle" v-close-popup />
        </div>
      </q-card-section>


    <!--
        @TODO the filter piece is not working, the basis of it should be the [lazy loading options](https://quasar.dev/vue-components/select#example--lazy-load-options)
        @filter="filterFn"
        :model-value="model"
        :rules="[ val => val && val.length > 0 || 'Please select a Task from the list' ]"
        use-input
        hide-selected
        fill-input
    -->

      <q-form @submit="onSubmit" ref="submitPointsForm">
        <q-card-section  class="justify-center">
          <div class="row">
            <div class="col">
                <q-select
                    autofocus
                    label="Pay To"
                    v-model="pointToSubmit.pay_to"
                    input-debounce="0"
                    :options="this.listUsers"
                    class="text-white"
                    style="width: 100%; padding-bottom: 32px"
                    options-selected-class="text-blue-6"
                  >
                    <template v-slot:option="scope">
                      <q-item v-bind="scope.itemProps">
                        <q-item-section avatar>
                          <q-avatar size="62px">
                            <img v-bind:src="scope.opt.icon" />
                          </q-avatar>
                        </q-item-section>
                        <q-item-section>
                          <q-item-label>{{ scope.opt.label }}</q-item-label>
                          <q-item-label caption>{{ scope.opt.description }}</q-item-label>
                        </q-item-section>
                      </q-item>
                    </template>
                    <template v-slot:no-option>
                      <q-item>
                        <q-item-section class="text-grey">
                          No results
                        </q-item-section>
                      </q-item>
                    </template>
                    <q-tooltip>
                      <div class="text-body1">Reward to purchase</div>
                    </q-tooltip>
                </q-select>
            </div>
            <div class="col-2 q-mr-md">
                <q-input
                    label="Pay Amount"
                    v-model.number="pointToSubmit.quantity"
                    align="right"
                    numeric-keyboard-toggle
                    type="number"
                    lazy-rules
                    step="any"
                    :rules="[val => val !== null && val !== '' || 'Field is required', val => val > 0 && val < 999999 || 'Value must be between 0 to 999,999']"
                    style="width: 100px;"
                    class="q-pl-md">
                    <q-tooltip>
                      <div class="text-body1">Number of units<br/>NOTE: amount used will be Quantity * Value</div>
                    </q-tooltip>
                </q-input>
            </div>
          </div>

          <div class="row">
            <div class="col">

                <q-select
                    label="From Stash"
                    v-model="pointToSubmit.pay_from_stash"
                    input-debounce="0"
                    :options="this.listStashes"
                    class="text-white"
                    style="width: 100%; padding-bottom: 32px"
                    options-selected-class="text-blue-6"
                  >
                    <template v-slot:option="scope">
                      <q-item v-bind="scope.itemProps">
                        <q-item-section avatar>
                            <q-icon color="text-blue-grey-9" :name="scope.opt.icon" />
                        </q-item-section>
                        <q-item-section>
                          <q-item-label>
                              <span class="text-subtitle1">
                                {{ scope.opt.label }}
                              </span>
                              <span class="q-pl-md text-overline">
                                {{ scope.opt.amount }}
                              </span>
                          </q-item-label>

                          <q-item-label caption>
                              {{ scope.opt.description }}
                          </q-item-label>
                        </q-item-section>
                      </q-item>
                    </template>
                    <template v-slot:no-option>
                      <q-item>
                        <q-item-section class="text-grey">
                          No results
                        </q-item-section>
                      </q-item>
                    </template>
                    <q-tooltip>
                      <div class="text-body1">Reward to purchase</div>
                    </q-tooltip>
                </q-select>

            </div>
          </div>

          <div class="row">
            <div class="col">
                <q-input
                    label="Note"
                    autogrow
                    v-model="pointToSubmit.note"
                    :rules="[val => val && val.length >4 || 'Field is required and must be >=5 chacters long']"
                    style="width: 100%;"
                    class="">
                    <q-tooltip>
                      <div class="text-body1">Please enter a Note describing your submission</div>
                    </q-tooltip>
                </q-input>
            </div>
            <div class="col-2 q-mr-md">
                <q-input
                    label="From"
                    autogrow
                    filled
                    bg-color="yellow-4"
                    v-model="pointToSubmit.user_override"
                    type="text"
                    v-if="this.user.active_account_role =='admin'"
                    style="width: 120px;"
                    class="q-pl-xs q-pr-sm">
                    <q-tooltip>
                      <div class="text-body1">specify a 'From' username if submitting for another user (leave blank for current user)</div>
                    </q-tooltip>
                </q-input>
            </div>
          </div>
          <div class="row">
              <div class="col q-mr-md text-black">
                  <q-toggle color="blue-6" v-model="paymentAccept" label="I agree to pay the above mentioned (Pay To) the amount (Pay Amount)" />
              </div>
          </div>

      </q-card-section>


      <q-separator />

      <q-card-actions class="justify-center">
        <q-btn flat text-color="blue-6" label="Send" type="submit" />
      </q-card-actions>
      </q-form>
    </q-card>

</template>

<script>
    import {mapActions } from 'vuex'
    import { mapGetters} from 'vuex'
    import { ref } from 'vue'
    import { uid } from 'quasar'

    //~ const stringOptions = ['Empty']

    export default {
        setup () {},
        data() {
            return {
                paymentAccept: false,
                pointToSubmit: {
                    pay_to: '',
                    quantity: 1,
                    note: '',
                    user_override: ''
                },
                pagination: {
                  itemsPerPage: 24,
                  page: 0
                },
            }
        },
        computed: {
            ...mapGetters('user', ['user', 'user_points', 'users']),
            ...mapGetters('rewards', ['rewards']),
            ...mapGetters('stashes', ['stashes']),

            orderedUsers: function () {
                return _.orderBy(this.users, 'display_name')
            },
            orderedStashes: function () {
                return _.orderBy(this.stashes, 'amount', ['desc'])
            },
            listUsers: function () {
                let users = this.orderedUsers.map(function(o) { return { "label": o.display_name, "value": o.username, "description": o.first_name + ' ' + o.last_name, "icon": o.avatar }});
                return users;
            },
            listStashes: function () {
                let users = this.orderedStashes.map(function(o) { return { "label": o.label, "value": o.id_, "amount": o.amount, "description": o.note, "icon": o.icon }});
                return users;
            }
        },
        methods: {
            ...mapActions('points', ['addPoint', 'fetchAccountingTotals', 'fetchLeaders', 'fetchPoints']),
            ...mapActions('user_messages', ['addUserMessage']),
            ...mapActions('stashes', ['editStash', 'fetchStashes']),

            onSubmit() {
                // console.log("- accept payment terms=", this.paymentAccept)
                if (this.paymentAccept !== true) {
                    this.$q.notify({
                        position: 'top',
                        color: 'red-5',
                        textColor: 'white',
                        icon: 'warning',
                        message: 'You need to accept the terms before you can Send points',
                        timeout: 2500,
                      })
                } else if (this.pointToSubmit.quantity > this.user_points.approved) {
                    this.$q.notify({
                        position: 'top',
                        color: 'red-5',
                        textColor: 'white',
                        icon: 'warning',
                        message: "Insufficient Funds",
                        caption: "Cannot send " + this.pointToSubmit.quantity + " as your current balance is " + this.user_points.approved + ".",
                        timeout: 4000,
                      })
                } else {
                    // console.log("- submit form, validating pointToSubmit of:", this.pointToSubmit)
                    this.$refs.submitPointsForm.validate()
                    if (!this.$refs.submitPointsForm.hasError) {
                        // tid uniquely identifies a grouping of transactions
                        let tid = uid();
                        // build the sendPoint object.
                        // NOTE: sendPoint uses a reward to deduct points from the sender's account.
                        let sendPoint = {
                            account: this.user.active_account_name,
                            username: this.user.username,
                            status: "approved",
                            point_type: "rewards",
                            point_key: this.user.active_account_name + ":send-points",
                            note: this.pointToSubmit.note,
                            message: "Sent payment to " + this.pointToSubmit.pay_to.value + " from stash: " + this.pointToSubmit.pay_from_stash.label + " (" + this.pointToSubmit.pay_from_stash.value + ")",
                            quantity: this.pointToSubmit.quantity,
                            tid: tid,
                        }
                        // override username if provided (note: admin role is checked on API as well)
                        if (this.user.active_account_role =='admin' && this.pointToSubmit && this.pointToSubmit.user_override && this.pointToSubmit.user_override.length > 0) {
                            sendPoint.username = this.pointToSubmit.user_override
                        }

                        //~ console.log("- submitting sendPoint of:", sendPoint);
                        // Deduct points from Sender
                        this.addPoint(sendPoint)
                        .then((response) => {
                            this.$q.notify({
                                message: "Points deducted from " + sendPoint.username,
                                //caption: "You will be notified once the reward has been approved!",
                                spinner: false,
                                icon: 'bi-postcard',
                                color: 'info',
                                html: true,
                                position: 'top',
                                //multiline: true,
                                timeout: 3000
                            })
                            return sendPoint;
                        })
                        .then((sendPoint) => {
                            // Deduct amount from stash
                            //console.log("- pay_from_stash.value=" + this.pointToSubmit.pay_from_stash.value);
                            let stash = {
                                "id_": this.pointToSubmit.pay_from_stash.value,
                                "amount": this.pointToSubmit.quantity,
                                "edit_type": "deduct",
                            }
                            this.editStash(stash)
                                .then((response) => {
                                    this.fetchStashes({account: this.user.active_account_name, username: this.user.username});
                                })
                            return sendPoint;
                        })
                        .then((sendPoint) => {
                            // Add points to Receiver
                            // build the receivePoint object.
                            // NOTE: receivePoint uses a task to add points to a user.
                            let receivePoint = {
                                account: this.user.active_account_name,
                                username: this.pointToSubmit.pay_to.value,
                                status: "approved",
                                point_type: "tasks",
                                point_key: this.user.active_account_name + ":receive-points",
                                note: this.pointToSubmit.note,
                                message: "Received payment from " + this.user.username,
                                quantity: this.pointToSubmit.quantity,
                                tid: tid,
                            }
                            //~ console.log("- submitting receivePoint of:", receivePoint);
                            // submit the receivePoint
                            this.addPoint(receivePoint)
                            .then((response) => {
                                //~ console.log("- receive point submitted:", response);
                                this.$q.notify({
                                    message: "Points added to " + receivePoint.username,
                                    //caption: "You will be notified once the task has been approved!",
                                    spinner: false,
                                    icon: 'bi-postcard',
                                    color: 'info',
                                    html: true,
                                    position: 'top',
                                    //multiline: true,
                                    timeout: 3000
                                })
                            })
                            .catch((error) => {
                                console.log('Error performing the receivePoint:', error)
                                this.$q.notify({
                                    message: error.message,
                                    caption: "Send Points (add to receiver) failed with reason: " + error.response.data.detail,
                                    spinner: false,
                                    icon: 'bi-exclamation-triangle',
                                    color: 'negative',
                                    html: true,
                                    position: 'top',
                                    multiline: true,
                                    timeout: 0,
                                    actions: [{
                                        icon: 'bi-x-circle',
                                        'aria-label': 'Dismiss'
                                    }]
                                })
                            })
                            return { receivePoint, sendPoint };
                        })
                        .then((obj) => {
                            let receivePoint = obj.receivePoint;
                            let sendPoint = obj.sendPoint;
                            this.$q.notify({
                                message: "Points sent!",
                                caption: "You have sent " + receivePoint.quantity + " points to " + receivePoint.username + "<br/>NOTE: a confirmation message with more details has been sent to the Sender and Receiver.",
                                spinner: false,
                                icon: 'bi-postcard',
                                color: 'info',
                                html: true,
                                position: 'top',
                                multiline: true,
                                timeout: 0,
                                actions: [{
                                    icon: 'bi-x-circle',
                                    'aria-label': 'Dismiss'
                                }]
                            })
                            return {receivePoint, sendPoint}
                        })
                        .then((obj) => {
                            let receivePoint = obj.receivePoint;
                            let sendPoint = obj.sendPoint;
                            // send UserMessage to Sender
                            let senderUM = {
                                "category": "system",
                                "priority": "high",
                                "to_user_id": receivePoint.username,
                                "subject": "Points Transfer!",
                                "message": sendPoint.username + " has sent you " + receivePoint.quantity + " points!<br/><br/>tid: " + receivePoint.tid + "<br/>Please keep this message as a receipt for the transaction.",
                            };
                            this.addUserMessage(senderUM)
                            //~ .then((response) => {
                                //~ console.log("- send UserMessage to Sender response:", response);
                            //~ })
                            .catch((error) => {
                                console.log('Error sending UserMessage to Sender:', error)
                            })

                            // send UserMessage to Receiver.
                            let receiverUM = {
                                "category": "system",
                                "priority": "high",
                                "to_user_id": sendPoint.username,
                                "subject": "Points Sent!",
                                "message":  "You have sent " + receivePoint.quantity + " points to " + receivePoint.username + ".<br/><br/>tid: " + receivePoint.tid + "<br/>Please keep this message as a receipt for the transaction.",
                            };
                            this.addUserMessage(receiverUM)
                            //~ .then((response) => {
                                //~ console.log("- send UserMessage to Receiver response:", response);
                            //~ })
                            .catch((error) => {
                                console.log('Error sending UserMessage to Receiver:', error)
                            })
                            return receivePoint, sendPoint
                        })
                        .then((receivePoint, sendPoint) => {
                            // close add dialog
                            this.showSubmitReward = false
                            this.$emit('close')
                            return receivePoint
                        })
                        .catch((error) => {
                            console.log('Error performing sendPoint:', error)
                            this.$q.notify({
                                message: error.message,
                                caption: "Send Points (deduct from sender) failed with reason: " + error.response.data.detail,
                                spinner: false,
                                icon: 'bi-exclamation-triangle',
                                color: 'negative',
                                html: true,
                                position: 'top',
                                multiline: true,
                                timeout: 0,
                                actions: [{
                                    icon: 'bi-x-circle',
                                    'aria-label': 'Dismiss'
                                }]
                            })
                        })
                    }
                }
            },
            filterFn (val, update, abort) {
                let rewards = this.listRewards;
                console.log("- tasks=", rewards);
                // console.log("- val=", val);
                if (val === '') {
                    update(() => {
                      this.options = rewards
                    })
                    return
                }
                update(() => {
                  const needle = val.toLowerCase()
                  console.log("- needle=", needle)
                  //~ this.options = this.listTasks.filter(v => v.toLowerCase().indexOf(needle) > -1)
                  this.options = rewards.filter(function (v) {
                      console.log(" - v=", v)
                      return v.label.toLowerCase().indexOf(needle) > -1
                  });
                })
            },
        },
        //~ watch: {
            //~ listTasks  (oldVal, newVal) {
                //~ this.stringOptions = newVal
            //~ }
        //~ },
    }
</script>
