<template>
  <q-page class="q-pa-lg">
    <h5 class="q-mt-none">About</h5>
    <p>
      Points is an app for tracking points by completing tasks to earn points and redeeming rewards to use those points you've earned.
    </p>
    <h6 class="q-ma-none">Release</h6>
    <table class="q-ml-lg">
        <tbody>
        <tr>
            <th class="float-right">version</th>
            <td class="q-pl-sm">{{ this.ui.version }}</td>
        </tr>
        <tr>
            <th class="float-right">released</th>
            <td class="q-pl-sm">{{ this.ui.released }}</td>
        </tr>
        <tr>
            <th class="float-right">created</th>
            <td class="q-pl-sm">{{ this.ui.created }}</td>
        </tr>
        <tr>
            <th class="float-right">source</th>
            <td class="q-pl-sm"><a :href="this.ui.source">{{ this.ui.source }}</a></td>
        </tr>
        <tr>
            <th class="float-right">issues</th>
            <td class="q-pl-sm"><a :href="this.ui.issues">{{ this.ui.issues }}</a></td>
        </tr>
        <tr>
            <th class="float-right">authors</th>
            <td class="q-pl-sm">{{ this.ui.authors }}</td>
        </tr>
        </tbody>
    </table>
    <p class="q-mt-sm q-mb-none">
        &copy; 2021 <a href="https://dradux.com">dradux.com</a> - All Rghts Reserved.<br/>
    </p>
    <div class="q-ml-md text-italic">this application is licensed under GPLv3, see <a href="https://gitlab.com/drad/points/blob/master/LICENSE">LICENSE</a> for more details</div>
  </q-page>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'PointsPage',
    data () {
      return {
        loading: false,
      }
    },
    computed: {
      ...mapGetters('about', ['ui']),

    }
  }
</script>
