<template>
  <q-page class="q-pa-lg">
    <h3 class="q-mt-none">
        Help
    </h3>

    <p class="text-h5 text-center">
        Points is a platform for storing and using currency.
    </p>

    <div class="text-subtitle2">
        <ul style="list-style-type: none;" class="q-pa-lg">
            <li class="q-pa-md text-h5">
                <q-btn flat round ripple push icon="bi-cash-stack" color="primary" size="32px" aria-label="to Tasks" to="/tasks" v-if="this.user.username" />
                <strong>Earn</strong> points by completing Tasks such as cleaning your room, helping a neighbor or going on a run
            </li>
            <li class="q-pa-md text-h5">
                <q-btn flat round ripple push icon="bi-gift-fill" color="primary" size="32px" aria-label="to Rewards" to="/rewards" v-if="this.user.username" />
                <strong>Use</strong> points by redeeming Rewards such as paying to go out for icecream (Bobby Sue's)
            </li>
            <li class="q-pa-md text-h5">
                <strong>Send</strong> points to another user!
            </li>
            <li class="q-pa-md text-h5">
                <q-btn flat round ripple push icon="bi-receipt-cutoff" color="primary" size="32px" aria-label="to Ledger" to="/points" v-if="this.user.username" />
                <strong>View</strong> your points usage in your Ledger
            </li>
        </ul>
    </div>

  </q-page>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        name: 'HelpPage',

        data () {
          return {
            loading: false,
          }
        },
        computed: {
          ...mapGetters('user', ['user']),

        },
    }
</script>
