<template>
<!--
  <div class="q-pa-md absolute-center" style="max-width: 400px">
-->
  <q-page class="flex flex-center text-primary">

    <div class="fixed-center" style="width: 33%;">

      <h4>Login</h4>

      <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
        <q-input filled v-model="username" label="Username" lazy-rules
          :rules="[ val => val && val.length > 2 || 'Please enter your username']"/>

        <q-input filled type="password" v-model="password" label="Password" lazy-rules
         :rules="[ val => val && val.length > 9 || 'Please enter your password (min 10)']" />

        <div>
          <q-btn label="Submit" type="submit" color="primary"/>
          <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
        </div>
      </q-form>

    </div>
  </q-page>
</template>

<script>
  import VueSSE from 'vue-sse';
  import { mapGetters, mapActions } from 'vuex'
  import { Loading, LocalStorage } from 'quasar'

  export default {
    name: 'LoginPage',

    data () {
        return {
            loading: false,
            username: process.env.default_login_username,                      // pragma: allowlist secret
            password: process.env.default_login_userpwd,                       // pragma: allowlist secret
            access_token: '',
        }
    },
    computed: {
        ...mapGetters('user', ['user', 'user_points']),


    },
    watch: {
      $route(to, from) {
        if (to.path == "/login") {
          // the following is used to complete the logout process when a
          // user's session has expired (e.g. token expired and 401 is thrown).
          this.onLogout()
        }
      },
    },
    mounted() {
      // note: call onLogout to ensure all sessions/objects are destroyed (e.g. redirect after 401).
      this.onLogout()
    },
    methods: {
        ...mapActions('auth', ['getToken']),
        ...mapActions('points', ['fetchPoints', 'fetchAccountingTotals', 'fetchLeaders']),
        ...mapActions('rewards', ['fetchRewards']),
        ...mapActions('sse', ['setupStream']),
        ...mapActions('stashes', ['fetchStashes']),
        ...mapActions('tasks', ['fetchTasks']),
        ...mapActions('user', ['fetchUser', 'fetchUsers', 'fetchUserPoints', 'updateUser', 'resetUser']),
        ...mapActions('user_messages', ['fetchUserMessages']),


        onSubmit() {
            Loading.show({
              message: 'Authenticating credentials...',
              boxClass: 'bg-grey-2 text-grey-9',
              messageColor: 'primary',
              spinnerColor: 'primary'
            })
            this.getToken({ username: this.username, password: this.password, grant_type: 'password' })
              .then((token) => {
                //~ console.log("Get token returned token=" + token);
                this.fetchUser()
                  .then(() => {
                    //~ console.log("User Timezone: ", this.user.user_timezone);
                    //~ console.log("Setup Stream (SSE)...");
                    this.setupStream({ notify_id: this.user.notify_id, account: this.user.active_account_name, sse: this.$sse, sseClient: this.sseClient })
                      //~ .then(() => {
                        //~ console.log("SSE Stream Setup!");
                      //~ })
                  })
                  .then(() => {
                    //~ console.log("Load initial user data");
                    //~ console.log("- get User Points...");
                    this.fetchUserPoints();
                    //~ console.log("Get Users...");
                    this.fetchUsers();
                    //~ console.log("- get Points...");
                    this.fetchPoints({account: this.user.active_account_name});
                    //~ console.log("- get Accounting Totals...");
                    this.fetchAccountingTotals({account: this.user.active_account_name, username: this.user.username});
                    //~ console.log("- get Tasks...");
                    this.fetchTasks();
                    //~ console.log("- get Rewards...");
                    this.fetchRewards();
                    //~ console.log("- get Leaders...");
                    this.fetchLeaders({account: "default"});
                    //~ console.log("- get Stashes...");
                    this.fetchStashes({account: this.user.active_account_name, username: this.user.username});
                    //~ console.log("- get User Messages...");
                    this.fetchUserMessages();
                    //~ console.log("Initial user data loaded!");
                  })
                  .then(() => {
                    Loading.hide()
                    // send user to their desired page.
                    // @TODO: this will be a user configurable item.
                    //~ this.$router.push('/registrations');
                    this.$router.push('/');
                  })
                  .then(() => {
                    // reset the username/password fields.
                    this.onReset();
                  })
              });   // getToken
        },
        onLogout() {
          // reset user
          this.resetUser();
        },
        onReset() {
            this.username = ''
            this.password = ''   // pragma: allowlist secret
        },
        //~ handleSSEMessage(message, lastEventId) {
            //~ //console.log("Received message (" + typeof message + "):", message, lastEventId);
            //~ // NOTICE: we need to trim off the b'' wrapper on the message.
            //~ let m = message.substring(2, message.length -1);
            //~ //console.log("  ⟶ trimmed (" + typeof m + "):", m);
            //~ try {
                //~ let msg = JSON.parse(m);
                //~ if ( msg.type == 'user_message' && msg.action == 'new' ) {
                  //~ this.fetchUserMessages({});
                //~ } else if ( msg.type == 'task' && ( msg.action == 'add' || msg.action == 'update' || msg.action == 'delete' ) ) {
                    //~ this.fetchTasks()
                //~ } else if ( msg.type == 'reward' && ( msg.action == 'add' || msg.action == 'update' || msg.action == 'delete' ) ) {
                    //~ this.fetchRewards()
                //~ } else if ( msg.type == 'point' && ( msg.action == 'add' || msg.action == 'update' || msg.action == 'delete' ) ) {
                    //~ this.fetchPoints({account: this.user.active_account_name});
                    //~ this.fetchUserPoints()
                      //~ .then((response) => {
                        //~ this.$q.notify({
                          //~ message: 'Points Updated!',
                          //~ caption: 'You have new Points.',
                          //~ color: 'purple-11',
                          //~ position: 'top',
                          //~ timeout: 5000,
                          //~ actions: [
                            //~ { icon: 'bi-x-circle-fill', color: 'white', handler: () => { /* ... */ } }
                          //~ ]})
                      //~ })
                    //~ this.fetchLeaders({account: "default"})
                    //~ this.fetchAccountingTotals({account: this.user.active_account_name, username: this.user.username});
                //~ } else {
                  //~ console.log("received an event type of: " + msg.type);
                //~ }
            //~ } catch(e) {
                //~ console.error("Error parsing SSE Message:", e);
            //~ }
        //~ },
    }   // end of methods
}
</script>
