<template>
  <q-page class="flex flex-center bg-white text-primary row items-stretch">
    <div class="q-pa-md column q-gutter-md">

      <!-- Latest Tasks -->
      <q-card class="my-card text-white" style="background: radial-gradient(circle, #2BB448 0%, #279921 100%)">
        <q-card-section>
          <div class="text-h6">Latest Tasks</div>
        </q-card-section>
        <q-card-section class="q-pa-none q-ml-xs q-mr-xs">
          <q-list class="q-pa-none q-ma-none" dense>
            <q-item v-for="task in orderedTasks" :key="task.name" dense class="q-pa-none q-ma-none">
              <div class="q-pa-none q-ma-none">
                {{ task.name }}
                <q-tooltip>
                  Value: {{ task.value }}<br/>
                  Description: {{ task.description }}
                </q-tooltip>
              </div>
              <div class="q-pl-md q-ma-none text-subtitle2">{{ formatDate(task.created) }}</div>
            </q-item>
          </q-list>
        </q-card-section>
      </q-card>
    </div>

    <div class="q-pa-md column items-start q-gutter-md">
      <!-- App News -->
      <q-card class="my-card">
        <img src="~/assets/ski-snack-old-33.jpg">

        <q-card-section>
          <div class="text-h6">App News</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-list class="q-pa-none q-ma-none" >
            <q-item v-for="item in items" :key="item.title" dense class="q-pa-none q-ml-none">
              <div class="q-pa-none q-ma-none">
                <q-icon :name="item.icon" color="primary" />

                {{ item.title }}
                <q-tooltip>
                  {{ item.detail }}
                </q-tooltip>
              </div>
            </q-item>
          </q-list>
        </q-card-section>
      </q-card>

    </div>
  </q-page>

</template>

<script>
  import { mapActions} from 'vuex'
  import { mapGetters} from 'vuex'
  import _ from 'lodash'
  import { date } from 'quasar'

  export default {
    name: 'PageIndex',
    data () {
      return {
        loading: false,
        columns: [
          { name: 'status', required: true, align: 'left', label: 'Status', field: 'status' },
          { name: 'value', required: true, align: 'center', label: 'Value', field: 'value' }
        ],
        data: [{status: '   loading... '}],
      }
    },
    computed: {
      ...mapGetters('tasks', ['tasks']),
      ...mapGetters('news', ['items']),

      orderedTasks: function () {
        return _.orderBy(this.tasks, 'created', 'desc').splice(0, 4)
      },
    },
    filters: {
      capitalize:  function(value)  {
        if  (!value)  {
          return  "";
        }
        value  =  value.toString();
        return  value.charAt(0).toUpperCase()  +  value.slice(1);
      },
      //~ formatDate: function(value)  {
        //~ if  (!value)  {
          //~ return  "";
        //~ }
        //~ return date.formatDate(value, 'MMM Do')
      //~ },
    },
    created () {
        // CAREFUL; this is called each time you hit the 'page'
        this.fetchTasks()
    },
    methods: {
      ...mapActions('tasks', ['fetchTasks',]),

      formatDate(value){
          if  (!value)  {
              return  "";
          }
          return date.formatDate(value, 'MMM Do')
      },
    }
  }
</script>

<style>
  .hidden-bottom-row {
    border: 1px solid red;
  }
  .my-card {
    width: 100%;
    max-width: 250px;
  }
</style>
