<template>

  <q-page class=" column">

    <div class="q-pa-sm">
      <q-table flat dense
        card-class="app-bkg-color"
        :rows="points"
        :columns="columns"
        :visible-columns="visibleColumns"
        :loading="points_loading"
        binary-state-sort
        row-key="id_"
        :filter="pfilter"
        @request="onRequest"
        v-model:pagination="pagination"
        no-data-label="No data found, try reloading!"
        no-results-label="No Results found!"
        >
        <template v-slot:header="props">
          <q-tr :props="props">
            <q-th auto-width><!-- Actions --></q-th>
            <q-th auto-width><!-- Point Status --></q-th>
            <q-th auto-width><!-- Point Type (Task/Reward) --></q-th>
            <q-th v-for="col in props.cols" :key="col.name" :props="props">
              {{ col.label }}
            </q-th>
            <q-th auto-width><!-- Flags --></q-th>
          </q-tr>
        </template>

        <template v-slot:top-right>
            <!-- Filter Bar -->
            <div class="row q-pa-xs bg-green-1 text-white rounded-borders justify-right">
                <div class="q-gutter-y-md row justify-right q-pl-md q-pr-md" style="max-width: 100%">
                    <q-space />

                    <!-- status -->
                    <q-select dense
                        label="Status"
                        v-model="pfilter.status"
                        input-debounce="0"
                        :options="point_status_options"
                        clearable
                        emit-value
                        map-options
                        class="q-mr-md text-white"
                        style="width: 133px;"
                        options-selected-class="text-blue-6"
                        input-class="text-body1">
                    </q-select>

                    <!-- User -->
                    <q-select dense
                        label="User"
                        v-model="pfilter.user"
                        input-debounce="0"
                        clearable
                        emit-value
                        map-options
                        :options="this.usersList"
                        class="q-mr-md text-white"
                        style="width: 133px;"
                        options-selected-class="text-blue-6"
                        input-class="text-body1"
                        v-if="userIsAdmin">
                        <template v-slot:option="scope">
                          <q-item v-bind="scope.itemProps">
                            <q-item-section>
                              <q-item-label>{{ scope.opt.description }}</q-item-label>
                              <q-item-label caption>{{ scope.opt.label }}</q-item-label>
                            </q-item-section>
                          </q-item>
                        </template>
                        <template v-slot:no-option>
                          <q-item>
                            <q-item-section class="text-grey">
                              No results
                            </q-item-section>
                          </q-item>
                        </template>
                        <q-tooltip>
                          <div class="text-body1">Select User to view their point data</div>
                        </q-tooltip>
                    </q-select>

                    <!-- Point Type -->
                    <q-select dense
                        label="Type"
                        v-model="pfilter.point_type"
                        input-debounce="0"
                        :options="point_type_options"
                        clearable
                        emit-value
                        map-options
                        class="q-mr-md text-white"
                        style="width: 133px;"
                        options-selected-class="text-blue-6"
                        input-class="text-body1">
                    </q-select>

                    <!-- Point Key -->
                    <q-input flat dense ripple
                        class="q-pr-sm"
                        style="width: 133px;"
                        label="Key"
                        debounce="750"
                        color="primary"
                        v-model="pfilter.point_key"
                        input-style=""
                        placeholder="key"
                        input-class="text-body1">

                        <q-tooltip>
                          Filter by Key (e.g. 'put-away-laundry')
                        </q-tooltip>

                    </q-input>

                    <!-- Misc (Note or Tag) -->
                    <q-input flat dense ripple
                        style="width: 133px;"
                        label="Note/Tag"
                        debounce="750"
                        color="primary"
                        v-model="pfilter.misc"
                        input-style=""
                        placeholder="Note"
                        input-class="text-body1">

                        <q-tooltip>
                          Filter by Note or Tag<br/>
                          <strong>NOTE:</strong> Tag must be exact match
                        </q-tooltip>

                    </q-input>

                    <q-btn flat dense size="xs" color="primary" icon="bi-x-diamond" @click="resetFilter" v-if="filterHasContent(this.pfilter)">
                        <q-tooltip>Clear filter</q-tooltip>
                    </q-btn>

                    <q-space style="width: 18px;" v-if="!filterHasContent(this.pfilter)" />

                    <q-btn flat dense size="md" color="primary" icon="bi-funnel-fill" @click="filterPoints">
                        <q-tooltip>Apply filter</q-tooltip>
                    </q-btn>

                </div>
            </div>

            <q-btn dense flat size="sm" color="primary" icon="bi-arrow-repeat" class="q-ml-sm" @click="getPoints">
                <q-tooltip>
                    <div class="text-body1">reload</div>
                </q-tooltip>
            </q-btn>

        </template>

        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td auto-width>
              <q-btn ripple flat dense size="sm" @click="props.expand = !props.expand" :icon="props.expand ? 'bi-chevron-up' : 'bi-chevron-down'">
                  <q-tooltip>
                    <div class="text-body1">expand</div>
                  </q-tooltip>
              </q-btn>

              <!-- edit -->
              <q-btn ripple push flat dense size="sm" icon="bi-pencil-square" @click="triggerSubmitPoint(props.row)" v-if="userIsAdmin">
                <q-tooltip>
                  <div class="text-body1">edit</div>
                </q-tooltip>
              </q-btn>

              <!-- delete -->
              <q-btn ripple push flat dense size="sm" color="red" icon="bi-trash2-fill" @click="promptToDelete(props.row.id_)" v-if="userIsAdmin">
                <q-tooltip>
                  <div class="text-body1">delete</div>
                </q-tooltip>
              </q-btn>

            </q-td>

            <!-- Point Status -->
            <q-td auto-width>
              <q-icon size="md" :color="getStatusIconColor(props.row.status)" :name="getStatusIcon(props.row.status)">
                <q-tooltip>
                  <div class="text-body1">{{ getStatusMessage(props.row.status) }}</div>
                </q-tooltip>
              </q-icon>
            </q-td>

            <!-- Point Type -->
            <q-td auto-width>
                <q-icon size="sm" :color="getPointTypeColor(props.row.point_type)" :name="getPointTypeIcon(props.row.point_type)">
                    <q-tooltip>{{ props.row.point_type }}: {{ props.row.point_key }}</q-tooltip>
                </q-icon>
            </q-td>

            <!-- DATA COLUMNS -->
            <q-td v-for="col in props.cols" :key="col.name" :props="props">
              {{ col.value }}
            </q-td>

            <!-- FLAGS SECTION -->
            <q-td auto-width>
                <!-- Message -->
                <q-icon size="sm" name="bi-chat-square-quote" v-if="props.row.message">
                    <q-tooltip>{{ props.row.message }}</q-tooltip>
                </q-icon>

                <!-- Approve/Denie Point -->
                <q-btn ripple push flat dense size="md" icon="bi-hand-thumbs-up-fill" color="green" @click="promptToApprovePoint(props.row)" v-if="userIsAdmin && props.row.status == 'created'">
                    <q-tooltip>
                      <div class="text-body1">approve</div>
                    </q-tooltip>
                </q-btn>

                <q-btn ripple push flat dense size="sm" icon="bi-hand-thumbs-down-fill" color="red" @click="promptToDenyPoint(props.row)" v-if="userIsAdmin && props.row.status == 'created'">
                    <q-tooltip>
                      <div class="text-body1">deny</div>
                    </q-tooltip>
                </q-btn>
            </q-td>

          </q-tr>
          <q-tr v-show="props.expand" :props="props" style="background-color: #A5C9EC">
            <q-td auto-width colspan="1">
              <div class="text-left q-ml-xl q-pl-sm">
                  by: {{ props.row.creator }}
              </div>
            </q-td>
            <q-td auto-width colspan="7">
              <div class="text-left q-pl-sm" v-if="props.row.message">
                 <q-icon size="sm" name="bi-chat-square-quote" /> {{ props.row.message }}
              </div>
            </q-td>
            <q-td auto-width colspan="2">
              <div class="text-left q-pl-sm" v-if="props.row.tid">
                 <q-icon size="sm" name="bi-key-fill" /> {{ props.row.tid }}
                 <q-tooltip>tid for point</q-tooltip>
              </div>
            </q-td>
          </q-tr>
        </template>
      </q-table>

      <q-dialog v-model="showSubmitPoint">
        <q-card style="width: 65%">
          <q-card-section class="row">
            <div class="text-h6">
              Update Point
            </div>
            <div class="text absolute-right q-pt-sm q-pr-sm">
              <q-btn flat round dense icon="bi-x-circle" v-close-popup />
            </div>
          </q-card-section>
          <q-card-section class="q-pt-none">
            <div class="text">
              Details of Point to Update:
              <ul>
                <li>Account: {{ this.active_point.account }}</li>
                <li>Username: {{ this.user.username }}</li>
                <li>Type: {{ this.active_point.point_type }}</li>
                <li>Key: {{ this.active_point.point_key }}</li>
              </ul>
            </div>
          </q-card-section>

          <form @submit.prevent="submitForm">
              <q-card-section class="q-pt-none">
                  <div class="row q-mb-sm">
                    <q-select style="width: 250px"
                        label="Status"
                        hint="status of point"
                        v-model="point_to_submit.status"
                        :options="options"
                        @filter="filterStatuses"
                        behavior="menu"
                        use-input
                        input-debounce="0">
                      <template v-slot:no-option>
                        <q-item>
                          <q-item-section class="text-grey">
                            No results
                          </q-item-section>
                        </q-item>
                      </template>
                    </q-select>

                    <q-input class="q-pl-md"
                        label="Quantity"
                        hint="number of units"
                        v-model="point_to_submit.quantity"
                        lazy-rules
                        :rules="[val => val !== null && val !== '' || 'Field is required', val => val > 0 && val < 999999 || 'Value must be between 0 to 999,999']">
                        <q-tooltip>
                          <div class="text-body1">Quantity is usually '1'</div>
                        </q-tooltip>
                    </q-input>
                  </div>

                  <div class="q-mb-sm">
                    <q-input v-model="point_to_submit.note" label="Note" hint="note about point such as why, what, when, where, etc." />
                    <q-tooltip>
                      <div class="text-body1">Enter a note for your submission if needed</div>
                    </q-tooltip>
                  </div>

                  <div class="q-mb-sm">
                    <q-input autofocus v-model="point_to_submit.message" label="Message" hint="assessment reason or other message" />
                    <q-tooltip>
                      <div class="text-body1">Message about point - typically assessment info such as why it was approved or denied</div>
                    </q-tooltip>
                  </div>
              </q-card-section>

              <q-card-actions align="right">
                <q-btn label="Submit" color="primary" type="submit" />
              </q-card-actions>
          </form>
        </q-card>
      </q-dialog>
    </div>
  </q-page>
</template>

<script>
  import { date } from 'quasar'
  import _ from 'lodash'
  import { mapActions, mapGetters } from 'vuex'
  import { ref } from 'vue'

  const stringOptions = [
    'created', 'approved', 'denied', 'deleted'
  ]

  const default_filter = {
        "status": null,
        "user": null,
        "point_type": null,
        "point_key": null,
        "misc": null,
  }

export default {
  name: 'PointsPage',
  data () {
    return {
      loading: false,
      showSubmitPoint: false,
      stringOptions,
      options: stringOptions,
      active_point: {
        _id: "",
        account: "",
        username: "",
        status: "",
        point_type: "",
        point_key: "",
        note: "",
        quantity: ""
      },
      point_to_submit: {
        _id: "",
        account: "",
        username: "",
        status: "",
        point_type: "",
        point_key: "",
        note: "",
        message: "",
        quantity: ""
      },
      tableHeaderTitle: "Ledger",
      selected: [],
      visibleColumns: ["key", "created", "amount", "quantity", "points", "note"],
      columns: [
        {name: 'account',   label: 'Account', field: 'account', style: 'width: 10px'},
        {name: 'created',   label: 'Created', field: 'created', align: "right", sortable: true, style: 'width: 100px', format: val => date.formatDate(new Date(val+"Z") , 'YYYY-MM-DD HH:mm')},
        {name: 'key',       label: 'Item',    field: 'point_key', align: "left", sortable: true, style: 'width: 10px', format: val => val.split(':')[1].replaceAll('-',' ')},
        {name: 'user',      label: 'User',    field: 'user', align: "center", sortable: true, style: 'width: 10px'},
        {name: 'amount',    label: 'Amt',     field: 'amount', align: "center", style: 'width: 10px; padding-left: 3px; padding-right: 3px;', headerStyle: 'width: 10px; padding-left: 3px; padding-right: 3px;', format: val => Math.round((val + Number.EPSILON) * 100) / 100},
        {name: 'quantity',  label: 'Qty',     field: 'quantity', align: "center", style: 'width: 10px; padding-left: 3px; padding-right: 3px;', headerStyle: 'width: 10px; padding-left: 3px; padding-right: 3px;', format: val => Math.round((val + Number.EPSILON) * 100) / 100},
        {name: 'points',    label: 'Val',     field: row => row.amount * row.quantity, align: "center", style: 'width: 10px; padding-left: 3px; padding-right: 3px;', headerStyle: 'width: 10px; padding-left: 3px; padding-right: 3px;', format: val => Math.round((val + Number.EPSILON) * 100) / 100},
        {name: 'status',    label: 'Status',  field: 'status', align: "center", sortable: true, style: 'width: 10px'},
        {name: 'type',      label: 'Type',    field: 'point_type', align: "center", sortable: true, style: 'width: 10px'},
        //~ {name: 'note',      label: 'Note',    field: 'note', align: "left", style: 'min-width: 120px; width: auto;', format: val => this.formatNoteForTable(val)},
        {name: 'note',      label: 'Note',    field: 'note', align: "left", style: 'min-width: 120px; max-width: 55px; white-space: normal;' },
        {name: 'message',   label: 'Message', field: 'message', style: 'width: 100px'},
        {name: 'creator',   label: 'Creator', field: 'creator', style: 'width: 100px'},
      ],
    }
  },
  setup() {
    const pfilter = ref({
        "status": null,
        "user": null,
        "point_type": null,
        "point_key": null,
        "misc": null,
    })
    const pagination = ref({
      sortBy: 'created',
      descending: true,
      page: 1,
      rowsPerPage: 20,
      rowsNumber: 1
    })
    const point_status_options = [null, 'created', 'approved', 'denied', 'deleted']
    const point_type_options = [null, 'tasks', 'rewards']

    return {
      pfilter,
      point_status_options,
      point_type_options,
      pagination,
    }
  },
  created () {
      // CAREFUL; this is called each time you hit the 'page'
      this.pagination.rowsNumber = this.page_total;
  },
  mounted () {
    if ( this.userIsAdmin ) {
        this.visibleColumns.push("user");
    }
  },
  computed: {
    ...mapGetters('user', ['user', 'users']),
    ...mapGetters('points', ['points_loading', 'points', 'points_count']),

    userIsAdmin: function () {
        return this.user.active_account_role=='admin'
    },
    usersOrdered: function () {
        return _.orderBy(this.users, 'order', 'asc')
    },
    usersList: function () {
        return this.usersOrdered.map(function(o) { return { "label": o.display_name, "value": o.username, "description": o.first_name + " " + o.last_name }});
    },
    page_total () {
      return this.points_count.total
    },
  },
  components: {},
  methods: {
    ...mapActions('points', ['fetchPoints', 'updatePoint', 'deletePoint', 'approvePoint']),

    formatNoteForTable (val) {
        //console.log("- formatting with val:",val);
        let trun_length = 10
        if (val && val.length > trun_length) {
            return val.substring(0,trun_length) + "…";
        } else {
            return val;
        }
        //return val + "...";
    },
    filterStatuses (val, update) {
      if (val === '') {
        update(() => {
          this.options = stringOptions
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.options = stringOptions.filter(v => v.toLowerCase().indexOf(needle) > -1)
      })
    },
    triggerSubmitPoint(point) {
      this.active_point = Object.assign({}, point)
      this.point_to_submit = Object.assign({}, point)
      this.showSubmitPoint = true
    },
    getPoints() {
      // NOTE: this is used by the refresh button.
      this.fetchPoints({account: this.user.active_account_name})
    },
    promptToApprovePoint(point) {
      //console.log("approve point::", point);
      this.$q.dialog({
          title: 'Approve Point?',
          message: 'Are you sure you want to Approve the following Point:<br/><ul><li>User: ' + point.user + '</li><li>Amount: ' + point.amount + ' (quantity: ' + point.quantity + ')</li><li>Type: ' + point.point_type + ' > ' + point.point_key.split(':')[1] + '</li><li>Note: ' + point.note + '</li></ul>',
          cancel: true,
          persistent: true,
          html: true,
        }).onOk(() => {
          this.updatePoint({_id: point.id_, account: this.user.active_account_name, status: 'approved'})
            .then((response) => {
              //~ console.log("- point updated!");
            })
            .catch((error) => {
              console.log("ERROR updating point: ", error);
            })
        })
    },
    promptToDenyPoint(point) {
      this.$q.dialog({
          title: 'Deny Point?',
          message: 'Are you sure you want to Deny the following Point:<br/><ul><li>User: ' + point.user + '</li><li>Amount: ' + point.amount + ' (quantity: ' + point.quantity + ')</li><li>Type: ' + point.point_type + ' > ' + point.point_key.split(':')[1] + '</li><li>Note: ' + point.note + '</li></ul>',
          cancel: true,
          persistent: true,
          html: true,
        }).onOk(() => {
          this.updatePoint({_id: point.id_, account: this.user.active_account_name, status: 'denied'})
        })
    },
    togglePoint(point) {
      this.togglePointEnable(point)
    },
    promptToDelete(id) {
       this.$q.dialog({
          title: 'Confirm',
          message: 'Really delete?',
          cancel: true,
          persistent: true
        }).onOk(() => {
          this.deletePoint(id)
        })
    },
    submitForm() {
      let point = {
        _id: this.point_to_submit.id_,
        account: this.user.active_account_name,
        username: this.user.username,
        status: this.point_to_submit.status,
        point_type: this.point_to_submit.point_type,
        point_key: this.point_to_submit.point_key,
        note: this.point_to_submit.note,
        message: this.point_to_submit.message,
        quantity: this.point_to_submit.quantity,
      }
      this.updatePoint(point)
      this.active_point = {}
      this.point_to_submit = {}
      this.showSubmitPoint = false
    },
    getStatusIcon(status) {
        // return (status == "approved") ? "bi-check" : "bi-x"
        if (status == "approved") {
            return "bi-check"
        } else if (status == "created") {
            return "bi-play"
        } else if (status == "denied") {
            return "bi-x"
        } else if (status == "deleted") {
            return "bi-trash"
        } else {
            return "bi-question"
        }
    },
    getStatusMessage(status) {
        return status.charAt(0).toUpperCase() + status.slice(1);
    },
    getStatusIconColor(status) {
        if (status == "approved") {
            return "green"
        } else if (status == "created") {
            return "amber-4"
        } else if (status == "denied") {
            return "red"
        } else if (status == "deleted") {
            return "red"
        } else {
            return "yellow"
        }
    },
    getPointTypeIcon(point_type) {
        return (point_type == 'tasks') ? "bi-cash-coin" : "bi-bag-fill"
    },
    getPointTypeColor(point_type) {
        return (point_type == 'tasks') ? "green" : "indigo-8"
    },
    resetFilter() {
        this.pfilter = JSON.parse(JSON.stringify(default_filter));
        this.filterPoints();
    },
    filterHasContent(filter) {
        if ( _.isEqual(filter, default_filter) ) {
            return false;
        } else {
            return true;
        }
    },
    filterPoints() {
        //console.log("FilterPoints hit with::", this.pfilter);
        let startRow = 0
        this.fetchPoints({
            account: this.user.active_account_name,
            filter_status: this.pfilter.status,
            //~ filter_start: this.pfilter.start,
            //~ filter_end: this.pfilter.end,
            //~ filter_client: this.pfilter.client,
            //~ include_invoiced: this.pfilter.invoiced,
            limit: this.pagination.rowsPerPage,
            skip: startRow
        })
    },
    forceFetchPoints() {
        this.filterPoints();
    },
    onRequest(props) {
      //console.log("onRequest hit with props of: ", props);
      let startRow = 0
      if ( props.pagination.page > 1 ) {
        startRow = ( props.pagination.page - 1 ) * props.pagination.rowsPerPage;
      }
      this.fetchPoints({
            account: this.user.active_account_name,
            filter_status: this.pfilter.status,
            filter_user: this.pfilter.user,
            filter_point_type: this.pfilter.point_type,
            filter_point_key: this.pfilter.point_key,
            filter_misc: this.pfilter.misc,
            limit: this.pagination.rowsPerPage,
            skip: startRow
      })

      this.pagination.rowsPerPage = props.pagination.rowsPerPage;
      this.pagination.sortBy = props.pagination.sortBy;
      this.pagination.descending = props.pagination.descending;

      // @NOTICE: no idea why we need to use page + 0 but if you dont use the page
      //          number does not increment when you navigate via the pager.
      this.pagination.page = props.pagination.page + 0;
    },
  },
  watch: {
    // @NOTICE: for some reason we need a watch here or rowsNumber is 1 iteration behind.
    page_total (oldVal, newVal) {
      this.pagination.rowsNumber = this.points_count.total;
    }
  }
}
</script>

<style>
  .table-item-small {
    border: 1px solid green;
    width: 10px;
    padding-left: 3px;
    padding-right: 3px;
  }
</style>
