<template>

  <q-page class="column">

    <div class="q-pa-sm">
          <q-table
            card-class="app-bkg-color"
            :rows="rewards"
            :columns="columns"
            :visible-columns="visibleColumns"
            row-key="id_"
            :loading="rewards_loading"
            :pagination="initialPagination"
            :filter="filter"
            no-data-label="No data found, try reloading!">

            <template v-slot:header="props">
              <q-tr :props="props">
                <q-th auto-width />
                <q-th v-for="col in props.cols" :key="col.name" :props="props">
                  {{ col.label }}
                </q-th>
                <q-th />
              </q-tr>
            </template>

            <template v-slot:top-right>
              <q-btn round flat dense size="md" color="primary" icon="bi-plus-circle-fill" class="q-mr-md" @click="showAddReward = true" v-if="userIsAdmin">
                <q-tooltip>
                  <div class="text-body1">add</div>
                </q-tooltip>
              </q-btn>

              <q-input flat dense ripple debounce="666" color="primary" v-model="filter" placeholder="Search" input-style="" input-class="text-body1">
                <template v-slot:append>
                  <q-icon name="bi-search"  />
                </template>
              </q-input>

              <q-btn dense flat size="md" color="primary" icon="bi-arrow-repeat" class="float-right" @click="fetchRewards">
                <q-tooltip>
                  <div class="text-body1">reload</div>
                </q-tooltip>
              </q-btn>
            </template>

            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td>
                  <q-btn flat dense size="md" @click="props.expand = !props.expand" :icon="props.expand ? 'bi-chevron-up' : 'bi-chevron-down'">
                      <q-tooltip>
                        <div class="text-body1">expand</div>
                      </q-tooltip>
                  </q-btn>

                  <!-- data icon -->
                  <q-icon size="lg" color="blue"
                    :name="props.row.icon"
                    :class="props.row.enabled?'text-black':'text-grey'"
                    class="q-pl-xs" />

                  <!-- enable -->
                  <q-btn flat dense round size="md" icon="bi-check-circle" @click="toggleReward(props.row)" v-if="(userIsAdmin|userIsManager) && props.row.enabled">
                    <q-tooltip>
                      <div class="text-body1">disable</div>
                    </q-tooltip>
                  </q-btn>
                  <q-btn flat dense round size="md" bi-circle @click="toggleReward(props.row)" v-if="(userIsAdmin|userIsManager) && !props.row.enabled">
                    <q-tooltip>
                      <div class="text-body1">enable</div>
                    </q-tooltip>
                  </q-btn>

                  <!-- edit -->
                  <q-btn flat dense size="md" icon="bi-pencil-square" @click="triggerSubmitUpdateReward(props.row)" v-if="userIsAdmin|userIsManager">
                    <q-tooltip>
                      <div class="text-body1">edit</div>
                    </q-tooltip>
                  </q-btn>

                  <!-- delete -->
                  <q-btn flat dense size="md" color="red" icon="bi-trash2-fill" @click="promptToDelete(props.row.id_)" v-if="userIsAdmin">
                    <q-tooltip>
                      <div class="text-body1">delete</div>
                    </q-tooltip>
                  </q-btn>

                  <!-- system flag -->
                  <q-icon flat left
                    size="sm"
                    name="bi-stars"
                    :class="props.row.enabled?'text-red-8':'text-grey'"
                    v-if="props.row.kind == 'system'"
                    class="q-pr-none">
                    <q-tooltip>System reward</q-tooltip>
                  </q-icon>

                </q-td>
                <q-td v-for="col in props.cols" :key="col.name" :props="props">
                  {{ col.value }}
                </q-td>
                <q-td auto-width>
                    <!-- submittal -->
                    <q-btn flat dense round ripple padding="xs" size="lg"
                        icon="bi-arrow-right-square-fill"
                        color="primary"
                        @click="triggerSubmitReward(props.row)" v-if="props.row.enabled && props.row.available_units != 0">
                        <q-tooltip>
                          <div class="text-body1">submit Reward (points will be deducted once submittal is approved)</div>
                        </q-tooltip>
                    </q-btn>
                </q-td>
              </q-tr>
              <q-tr v-show="props.expand" :props="props" style="background-color: #A5C9EC">
                <q-td colspan="5">
                  <div class="text-left q-ml-xl q-pl-sm">{{ props.row.description }}</div>
                </q-td>
              </q-tr>
            </template>
          </q-table>

          <q-dialog v-model="showAddReward">
            <add-reward @close="showAddReward = false" />
          </q-dialog>

          <q-dialog v-model="showSubmitReward">
            <q-card style="width: 65%">
              <q-card-section class="row">
                <div class="text-h6">
                    Submit Reward
                </div>
                <div class="text absolute-right q-pt-sm q-pr-sm">
                    <q-btn flat round dense icon="bi-x-circle" v-close-popup />
                </div>
              </q-card-section>
              <q-card-section class="q-pt-none">
                <div class="text-subtitle-1 text-italic">
                  Your Points will be updated as soon as the redemption is approved.
                </div>
                <div class="text q-pt-md">
                  Did you complete the following reward?
                  <ul>
                    <li>Name: {{ this.active_reward.name }}</li>
                    <li>Desc: {{ this.active_reward.description }}</li>
                    <li>Value: {{ this.active_reward.value }}</li>
                  </ul>
                </div>
              </q-card-section>

              <q-form @submit.prevent="submitForm">
                  <q-card-section class="q-pt-none">
                      <div class="row q-mb-sm">
                        <q-input label="User" type="text" v-if="this.user.active_account_role =='admin'"
                            v-model="rewardToSubmit.username">
                            <q-tooltip>
                              <div class="text-body1">specify username if submitting for another user (leave blank for current user, supports csv list of users - e.g. "drad, natalie, addalie")</div>
                            </q-tooltip>
                        </q-input>
                      </div>
                      <div class="row q-mb-sm">
                        <q-input autofocus label="Quantity" type="text"
                            lazy-rules :rules="[val => val !== null && val !== '' || 'Field is required', val => val > 0 && val < 999999 || 'Value must be between 0 to 999,999']"
                            v-model="rewardToSubmit.quantity" />
                        <q-tooltip>
                          <div class="text-body1">Quantity is usually '1'</div>
                        </q-tooltip>
                      </div>
                      <div class="q-mb-sm">
                        <q-input label="Note"
                            :rules="[val => val.length >4 || 'Field is required and must be >=5 chacters long']"
                            v-model="rewardToSubmit.note"
                        />
                        <q-tooltip>
                          <div class="text-body1">Enter a note for your submission if needed</div>
                        </q-tooltip>
                      </div>
                  </q-card-section>

                  <q-card-actions align="right">
                    <q-btn label="Submit" color="primary" type="submit" />
                  </q-card-actions>
              </q-form>
            </q-card>
          </q-dialog>

          <q-dialog v-model="showSubmitUpdateReward">
            <q-card style="width: 65%">
              <q-card-section class="row">
                <div class="text-h6">
                    Update Reward
                </div>
                <div class="text absolute-right q-pt-sm q-pr-sm">
                    <q-btn flat round dense icon="bi-x-circle" v-close-popup />
                </div>
              </q-card-section>
              <q-card-section class="q-pt-none">

                  <form @submit.prevent="submitUpdateForm">
                      <q-card-section class="q-pt-none">
                          <div class="row q-mb-sm">
                            <q-input autofocus v-model="active_reward.name" label="Name" placeholder="Name of reward"
                              style="width: 315px"
                              :rules="[val => !!val || 'Field is required']" ref="name" />
                            <q-input v-model="active_reward.value" label="Value" placeholder="Value of reward"
                              type="text" style="width: 50px" lazy-rules :rules="[val => val !== null && val !== '' || 'Field is required', val => val > -1 && val < 999999 || 'Value must be from 0 to 999,999']"
                              class="q-ml-md" />
                            <div class="absolute-right q-pr-md">
                              <q-toggle v-model="active_reward.enabled" color="primary" label="Enabled" />
                            </div>
                          </div>

                          <div class="row q-mb-sm">
                            <q-input v-model="active_reward.description" label="Description" placeholder="Description of reward"
                                autogrow style="width: 380px;" />
                            <q-input v-model="active_reward.available_units" label="Units" placeholder="Available units of reward"
                              type="text" style="width: 100px" class="q-ml-md">
                              <q-tooltip>
                                <div class="text-body1">Available units of reward (leave empty for no limit)</div>
                              </q-tooltip>
                            </q-input>
                          </div>

                          <div class="row q-mb-sm">

                            <div class="col">
                              <q-input class="q-pb-sm q-mb-xs" style="width: 100%"
                                  label="Icon for Reward"
                                  v-model="active_reward.icon"
                                  hint="use any Material or LineAwesome icon">
                                  <q-tooltip>
                                  if using a LineAwesome icon you need to prefix it with la, e.g. 'la la-bug' rather than 'la-bug'
                                  </q-tooltip>
                              </q-input>
                            </div>

                            <div class="col q-pl-md">
                                <q-select
                                  label="Kind"
                                  v-model="active_reward.kind"
                                  :options="kind_options"
                                  />
                            </div>

                          </div>
                      </q-card-section>

                      <q-card-actions align="right">
                        <q-btn label="Submit" color="primary" type="submit" />
                      </q-card-actions>
                  </form>
                </q-card-section>
            </q-card>
          </q-dialog>
        </div>
  </q-page>
</template>

<script>
  import { date } from 'quasar'
  import _ from 'lodash'
  import { mapActions} from 'vuex'
  import { mapGetters} from 'vuex'

export default {
  name: 'RewardsPage',
  data () {
    return {
      pagination: {
        itemsPerPage: 24,
        page: 0
      },
      updateRewardIconFilter: '',
      loading: false,
      showAddReward: false,
      showSubmitReward: false,
      showSubmitUpdateReward: false,
      rewardToSubmit: {
          "account": "",
          "quantity": 1,
          "note": "",
          "username": "",
      },
      active_reward: {
        id_: "",
        account: "",
        name: "",
        enabled: true,
        icon: "",
        value: null,
        description: "",
        available_units: "",
      },
      filter: '',
      tableHeaderTitle: "Rewards (use points)",
      initialPagination: {
        sortBy: 'created',
        descending: true,
        page: 1,
        rowsPerPage: 50
        // rowsNumber: xx if getting data from a server
      },
      selected: [],
      visibleColumns: ["name", "value", "available_units"],
      columns: [
        {name: 'kind', label: 'kind', required: false, field: 'kind', sortable: true, align: 'left', style: 'width: 100%'},
        {name: 'name', label: 'Name', required: true, field: 'name', sortable: true, align: 'left', style: 'width: 100%'},
        {name: 'value', label: 'Value', required: true, field: 'value', sortable: true, align: 'left', style: 'width: 1px'},
        {name: 'available_units', label: 'Available', required: false, field: 'available_units', sortable: true, align: 'left', style: 'width: 1px'},
        {name: 'created', label: 'Created', required: true, field: 'created', sortable: true, style: 'width: 100px', format: val => date.formatDate(new Date(val+"Z") , 'YYYY-MM-DD')},
      ],
      kind_options: [
        'general',
        'system'
      ]
    }
  },
  created () {
    // CAREFUL; this is called each time you hit the 'page'
  },
  mounted () {},
  computed: {
    ...mapGetters('user', ['user']),
    ...mapGetters('rewards', ['rewards_loading', 'rewards']),

    orderedRewards: function () {
      return _.orderBy(this.rewards, 'name')
    },
    userIsAdmin: function () {
      return this.user.active_account_role=='admin'
    },
    userIsManager: function () {
      return this.user.roles.includes('managers')
    },
  },
  components: {
    'add-reward': require('components/Rewards/Modals/AddReward.vue').default,
  },
  methods: {
    ...mapActions('rewards', ['fetchRewards', 'updateReward', 'deleteReward', 'toggleRewardEnable']),
    ...mapActions('points', ['addPoint']),

    triggerSubmitUpdateReward(reward) {
      this.active_reward = Object.assign({}, reward)
      this.showSubmitUpdateReward = true
      this.updateRewardIconFilter = reward.icon
    },
    triggerSubmitReward(reward) {
      this.active_reward = reward
      this.showSubmitReward = true
    },
    toggleReward(reward) {
      this.toggleRewardEnable(reward)
      this.fetchRewards()
    },
    promptToDelete(id) {
       this.$q.dialog({
          title: 'Confirm',
          message: 'Really delete?',
          cancel: true,
          persistent: true
        }).onOk(() => {
          this.deleteReward(id)
          this.fetchRewards()
        })
    },
    submitForm() {
      let point = {
          account: this.user.active_account_name,
          username: this.user.username,
          status: "created",
          point_type: "rewards",
          point_key: this.active_reward.id_,
          note: this.rewardToSubmit.note,
          quantity: this.rewardToSubmit.quantity,
      }
      if (this.user.active_account_role =='admin' && this.rewardToSubmit && this.rewardToSubmit.username && this.rewardToSubmit.username.length > 0) {
        point.username = this.rewardToSubmit.username
      }
      this.addPoint(point)
        .then((response) => {
            // reset items.
            this.active_reward = {}
            this.rewardToSubmit = {quantity: 1, note: ""}
        })
        .then((response) => {
            this.fetchRewards()
        })
        .then((response) => {
            this.showSubmitReward = false
            this.$q.notify({
                message: "Reward submitted!",
                caption: "You will be notified once the reward has been approved.",
                spinner: false,
                icon: 'bi-postcard',
                color: 'info',
                html: true,
                position: 'top',
                multiline: true,
                timeout: 4000
            })
        })
        .catch((error) => {
            console.log('Error performing Add:', error)
        })
    },
    submitUpdateForm() {
      // remove created/updated from task as they can't be updated externally.
      delete this.active_reward.created
      delete this.active_reward.updated
      // remove account as its in the 'id' for update.
      delete this.active_reward.account
      // 'rename' id_ to _id
      this.active_reward._id = this.active_reward.id_
      delete this.active_reward.id_
      // remove any null/empty items
      Object.keys(this.active_reward).forEach((k) => this.active_reward[k] == null && delete this.active_reward[k]);
      this.updateReward(this.active_reward)
      this.active_reward = {}
      this.fetchRewards()
      this.showSubmitUpdateReward = false
    },
  }
}
</script>

<style lang="scss">
  .done {
    .q-item__label {
      text-decoration: line-through;
      color: #bbb;
    }
  }
  .no-rewards {
    opacity: 0.5;
  }
  .reward-note {
    font-size: smaller;
    font-style: italic;
  }
  .add-reward-hint {
    color: #fff;
  }
</style>
