<template>

    <q-page class="column">

        <div class="q-pa-sm">

          <q-table
            card-class="app-bkg-color"
            :rows="tasks"
            :columns="columns"
            :visible-columns="visibleColumns"
            :loading="tasks_loading"
            row-key="id_"
            :pagination="initialPagination"
            :filter="filter"
            @row-click="onRowClick"
            @row-dblclick="onRowDblClick"
            no-data-label="No data found, try reloading!">

            <template v-slot:header="props">
              <q-tr :props="props">
                <q-th auto-width />
                <q-th v-for="col in props.cols" :key="col.name" :props="props">
                  {{ col.label }}
                </q-th>
                <q-th />
              </q-tr>
            </template>

            <template v-slot:top-right>
              <q-btn round flat dense size="md" color="primary" icon="bi-plus-circle-fill" class="q-mr-md q-pa-none" @click="showAddTask = true" v-if="userIsAdmin">
                <q-tooltip>
                  <div class="text-body1">Add a Task...</div>
                </q-tooltip>
              </q-btn>

              <q-input flat dense ripple debounce="666" color="primary" v-model="filter" input-style="" placeholder="Search" input-class="text-body1">
                <template v-slot:append>
                  <q-icon name="bi-search"  />
                </template>
              </q-input>

              <q-btn flat dense size="md" color="primary" icon="bi-arrow-repeat" @click="fetchTasks">
                <q-tooltip>
                  <div class="text-body1">refresh</div>
                </q-tooltip>
              </q-btn>

            </template>

            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td class="">
                  <q-btn flat dense round padding="xs" size="md" @click="props.expand = !props.expand" :icon="props.expand ? 'bi-chevron-up' : 'bi-chevron-down'">
                      <q-tooltip>
                        <div class="text-body1">expand</div>
                      </q-tooltip>
                  </q-btn>

                  <!-- data icon -->
                  <q-icon flat size="lg" color="blue"
                    :name="props.row.icon"
                    :class="props.row.enabled?'text-black':'text-grey'"
                    left
                    class="q-pl-xs" />

                  <!-- enable -->
                  <q-btn flat dense round padding="xs" size="md" icon="bi-check-circle" @click="toggleTask(props.row)" v-if="(userIsAdmin|userIsManager) && props.row.enabled">
                    <q-tooltip>
                      <div class="text-body1">disable</div>
                    </q-tooltip>
                  </q-btn>
                  <q-btn flat dense round padding="xs" size="md" icon="bi-circle" @click="toggleTask(props.row)" v-if="(userIsAdmin|userIsManager) && !props.row.enabled">
                    <q-tooltip>
                      <div class="text-body1">enable</div>
                    </q-tooltip>
                  </q-btn>

                  <!-- edit -->
                  <q-btn flat dense round padding="xs" size="md" icon="bi-pencil-square" @click="triggerSubmitUpdateTask(props.row)" v-if="userIsAdmin|userIsManager">
                    <q-tooltip>
                      <div class="text-body1">edit</div>
                    </q-tooltip>
                  </q-btn>

                  <!-- delete -->
                  <q-btn flat dense round padding="xs" size="md" color="red" icon="bi-trash2-fill" @click="promptToDelete(props.row.id_)" v-if="userIsAdmin">
                    <q-tooltip>
                      <div class="text-body1">delete</div>
                    </q-tooltip>
                  </q-btn>

                  <!-- system flag -->
                  <q-icon flat left
                    size="sm"
                    name="bi-stars"
                    :class="props.row.enabled?'text-red-8':'text-grey'"
                    v-if="props.row.kind == 'system'"
                    class="q-pr-none">
                    <q-tooltip>System task</q-tooltip>
                  </q-icon>

                </q-td>
                <q-td v-for="col in props.cols" :key="col.name" :props="props">
                  {{ col.value }}
                </q-td>
                <q-td auto-width>

                  <!-- submittal -->
                  <q-btn flat dense round padding="xs" size="lg"
                    icon="bi-arrow-right-square-fill"
                    color="primary"
                    @click="triggerSubmitTask(props.row)"
                    v-if="props.row.enabled && props.row.available_units != 0">
                    <q-tooltip>
                      <div class="text-body1">submit Task (you will earn points once submittal is approved)</div>
                    </q-tooltip>
                  </q-btn>

                </q-td>
              </q-tr>
              <q-tr v-show="props.expand" :props="props" style="background-color: #A5C9EC">
                <q-td colspan="3">
                  <div class="text-left q-ml-xl q-pl-sm">{{ props.row.description }}</div>
                </q-td>
                <q-td colspan="3">
                    <div class="text-left q-ml-xl q-pl-sm">
                        Groups:
                        <q-btn dense
                            size="sm"
                            color="white"
                            text-color="primary"
                            v-for="(group) in props.row.groups"
                            v-bind:key="group.label"
                            class="q-ml-sm q-pl-sm q-pr-md"
                            :label="group.label">
                          <q-badge color="orange" floating >{{ group.priority }}</q-badge>
                        </q-btn>
                    </div>
                </q-td>
              </q-tr>
            </template>
          </q-table>

          <q-dialog v-model="showAddTask">
            <add-task @close="showAddTask = false" />
          </q-dialog>

          <q-dialog v-model="showSubmitTask">
            <q-card style="width: 65%">
              <q-card-section class="row">
                <div class="text-h6">
                    Submit Task
                </div>
                <div class="text absolute-right q-pt-sm q-pr-sm">
                    <q-btn flat round dense icon="bi-x-circle-fill" v-close-popup />
                </div>
              </q-card-section>
              <q-card-section class="q-pt-none q-pb-none">
                <div class="text-subtitle-1 text-italic">
                  Your Points will be updated as soon as the submission is approved.
                </div>
                <div class="text q-pt-md">
                  Did you complete the following task?
                  <ul>
                    <li>Name: {{ this.active_task.name }}</li>
                    <li>Desc: {{ this.active_task.description }}</li>
                    <li>Value: {{ this.active_task.value }}</li>
                  </ul>
                </div>
              </q-card-section>

              <q-form @submit.prevent="submitForm">
                  <q-card-section class="q-pt-none q-mt-none">
                      <div class="row q-mb-sm">
                        <q-input v-model="taskToSubmit.username" label="User" type="text" v-if="this.user.active_account_role =='admin'">
                            <q-tooltip>
                              <div class="text-body1">specify username if submitting for another user (leave blank for current user, supports csv list of users - e.g. "drad, natalie, addalie")</div>
                            </q-tooltip>
                        </q-input>
                      </div>
                      <div class="row q-mb-sm">
                        <q-input autofocus
                            label="Quantity"
                            v-model="taskToSubmit.quantity"
                            align="right" numeric-keyboard-toggle
                            lazy-rules
                            :rules="[val => val !== null && val !== '' || 'Field is required', val => val > 0 && val < 999999 || 'Value must be between 0 to 999,999']"
                            style="width: 90px;">

                            <q-tooltip>
                              <div class="text-body1">Number of unit<br/>NOTE: amount used will be Quantity * Value</div>
                            </q-tooltip>
                        </q-input>

                        <q-input label="Note"
                            autogrow
                            v-model="taskToSubmit.note"
                            :rules="[val => val.length >4 || 'Field is required and must be >=5 chacters long']"
                            class="q-pl-md"
                            style="max-width: 300px;">
                            <q-tooltip>
                              <div class="text-body1">Please enter a Note describing your submission</div>
                            </q-tooltip>
                        </q-input>
                      </div>
                  </q-card-section>

                  <q-card-actions align="right">
                    <q-btn label="Submit" color="primary" type="submit" />
                  </q-card-actions>
              </q-form>
            </q-card>
          </q-dialog>

          <q-dialog v-model="showSubmitUpdateTask">
            <q-card style="width: 65%">
              <q-card-section class="row">
                <div class="text-h6">
                    Update Task
                </div>
                <div class="text absolute-right q-pt-sm q-pr-sm">
                    <q-btn flat round dense icon="bi-x-circle" v-close-popup />
                </div>
              </q-card-section>

              <q-card-section class="q-pt-none">

                  <form @submit.prevent="submitUpdateForm">
                      <q-card-section class="q-pt-none">
                          <div class="row q-mb-sm">
                            <q-input autofocus v-model="active_task.name" label="Name" placeholder="Name of task"
                              style="width: 315px"
                              :rules="[val => !!val || 'Field is required']" ref="name" />
                            <q-input v-model="active_task.value" label="Value" placeholder="Value of task"
                              type="text" style="width: 50px" lazy-rules :rules="[val => val !== null && val !== '' || 'Field is required', val => val > -1 && val < 999999 || 'Value must be from 0 to 999,999']"
                              class="q-ml-md" />
                            <div class="absolute-right q-pr-md">
                              <q-toggle v-model="active_task.enabled" color="primary" label="Enabled" />
                            </div>
                          </div>

                          <div class="row q-mb-sm">
                            <q-input v-model="active_task.description" label="Description" placeholder="Description of task"
                                autogrow style="width: 380px;" />
                            <q-input v-model="active_task.available_units" label="Units" placeholder="Available units of task"
                              type="text" style="width: 100px" class="q-ml-md">
                              <q-tooltip>
                                <div class="text-body1">Available units of task (leave empty for no limit)</div>
                              </q-tooltip>
                            </q-input>
                          </div>

                          <div class="row q-mb-sm">

                              <div class="col">
                                <q-input class="q-pb-sm q-mb-xs" style="width: 100%"
                                    label="Icon for Task"
                                    v-model="active_task.icon"
                                    hint="use any Material or LineAwesome icon">
                                    <q-tooltip>
                                    if using a LineAwesome icon you need to prefix it with la, e.g. 'la la-bug' rather than 'la-bug'
                                    </q-tooltip>
                                </q-input>
                              </div>

                              <div class="col q-pl-md">
                                  <q-select
                                    label="Kind"
                                    v-model="active_task.kind"
                                    :options="kind_options"
                                    />
                              </div>

                          </div>

                          <div class="row q-mb-sm q-pt-md">

                              <q-table
                                  flat bordered
                                  title="Groups"
                                  :rows="active_task.groups"
                                  :columns="groups_columns"
                                  row-key="label"
                                  class="full-width"
                                  hide-bottom
                                  binary-state-sort>

                                  <template v-slot:top>
                                      <div class="row full-width">
                                          <div class="col">
                                              <div class="col-2 q-table__title">Groups</div>
                                          </div>
                                          <div class="col-1">
                                              <q-btn round flat dense
                                                size="md"
                                                color="primary"
                                                icon="la la-plus-circle"
                                                class="q-mr-md q-pa-none"
                                                @click="showAddTaskGroup = true" v-if="userIsAdmin">
                                                <q-tooltip>Add a new Group...</q-tooltip>
                                              </q-btn>
                                          </div>
                                      </div>
                                  </template>

                                  <template v-slot:body="props">
                                      <q-tr :props="props">

                                          <q-td key="label" :props="props">
                                            {{ props.row.label }}
                                            <q-popup-edit v-model="props.row.label" v-slot="scope">
                                              <q-input v-model="scope.value" dense autofocus @keyup.enter="scope.set" />
                                            </q-popup-edit>
                                          </q-td>

                                          <q-td key="label" :props="props">
                                            {{ props.row.priority }}
                                            <q-popup-edit v-model="props.row.priority" v-slot="scope">
                                              <q-input v-model="scope.value" dense autofocus counter @keyup.enter="scope.set" />
                                            </q-popup-edit>
                                          </q-td>
                                      </q-tr>
                                  </template>

                              </q-table>

                          </div>

                      </q-card-section>

                      <q-card-actions align="right">
                        <q-btn label="Submit" color="primary" type="submit" />
                      </q-card-actions>
                  </form>
                </q-card-section>
            </q-card>
          </q-dialog>
        </div>

    </q-page>

</template>

<script>
  import { date } from 'quasar'
  import _ from 'lodash'
  import { mapActions} from 'vuex'
  import { mapGetters} from 'vuex'

export default {
  name: 'TasksPage',

  data () {
    return {
      //~ pagination: {
        //~ itemsPerPage: 24,
        //~ page: 0
      //~ },
      updateTaskIconFilter: '',
      loading: false,
      showAddTask: false,
      showSubmitTask: false,
      showSubmitUpdateTask: false,
      taskToSubmit: {
          "account": "",
          "quantity": 1,
          "note": "",
          "username": "",
      },
      //groups: [],
      active_task: {
        id_: "",
        account: "",
        name: "",
        enabled: true,
        icon: "",
        value: null,
        description: "",
        available_units: "",
        groups: [ {"label":"important"}, {"priority": 1} ],
      },
      filter: '',
      tableHeaderTitle: "Tasks (earn points)",
      initialPagination: {
        sortBy: 'created',
        descending: true,
        page: 1,
        rowsPerPage: 50
        // rowsNumber: xx if getting data from a server
      },
      selected: [],
      visibleColumns: ["name", "value", "available_units"],
      columns: [
        {name: 'kind', label: 'kind', required: false, field: 'kind', sortable: true, align: 'left', style: 'width: 100%'},
        {name: 'name', label: 'Name', required: true, field: 'name', sortable: true, align: 'left', style: 'width: 100%'},
        {name: 'value', label: 'Value', required: true, field: 'value', sortable: true, align: 'left', style: 'width: 1px'},
        {name: 'available_units', label: 'Available', required: false, field: 'available_units', sortable: true, align: 'left', style: 'width: 1px'},
        {name: 'created', label: 'Created', required: true, field: 'created', sortable: true, style: 'width: 100px', format: val => date.formatDate(new Date(val+"Z") , 'YYYY-MM-DD')},
      ],
      groups_visible_columns: ["label", "priority"],
      groups_columns: [
        {name: 'label', label: 'Label', required: true, field: 'label', sortable: true, align: 'left', style: 'width: 100%'},
        {name: 'priority', label: 'Priority', required: false, field: 'priority', sortable: true, align: 'left', style: 'width: 1px'},
      ],
      kind_options: [
        'general',
        'system'
      ]
    }
  },
  created () {
      // CAREFUL; this is called each time you hit the 'page'
  },
  mounted () {},
  computed: {
    ...mapGetters('user', ['user']),
    ...mapGetters('tasks', ['tasks', 'tasks_loading']),

    orderedTasks: function () {
      return _.orderBy(this.tasks, 'name')
    },
    userIsAdmin: function () {
      return this.user.active_account_role=='admin'
    },
    userIsManager: function () {
      return this.user.roles.includes('managers')
    },
  },
  components: {
    'add-task': require('components/Tasks/Modals/AddTask.vue').default,
  },
  props: ['task', 'id_'],
  methods: {
      ...mapActions('tasks', ['fetchTasks', 'updateTask', 'deleteTask', 'toggleTaskEnable']),
      ...mapActions('points', ['addPoint']),

    triggerSubmitUpdateTask(task) {
      this.active_task = Object.assign({}, task)
      this.showSubmitUpdateTask = true
      this.updateTaskIconFilter = task.icon
    },
    triggerSubmitTask(task) {
      this.active_task = task
      this.showSubmitTask = true
    },
    toggleTask(task) {
      this.toggleTaskEnable(task)
    },
    promptToDelete(id) {
       this.$q.dialog({
          title: 'Confirm',
          message: 'Really delete?',
          cancel: true,
          persistent: true
        }).onOk(() => {
          this.deleteTask(id)
        })
    },
    submitForm() {
      let point = {
          account: this.user.active_account_name,
          username: this.user.username,
          status: "created",
          point_type: "tasks",
          point_key: this.active_task.id_,
          note: this.taskToSubmit.note,
          quantity: this.taskToSubmit.quantity,
      }

      if (this.user.active_account_role =='admin' && this.taskToSubmit && this.taskToSubmit.username && this.taskToSubmit.username.length > 0) {
        point.username = this.taskToSubmit.username
      }
      this.addPoint(point)
        .then((response) => {
            // reset items.
            this.active_task = {}
            this.taskToSubmit = {quantity: 1, note: ""}
        })
        .then((response) => {
            // close add dialog
            this.showSubmitTask = false
        })
        .then((response) => {
            this.$q.notify({
                message: "Task submitted!",
                caption: "You will be notified once the task has been approved.",
                spinner: false,
                icon: 'bi-postcard',
                color: 'info',
                html: true,
                position: 'top',
                multiline: true,
                timeout: 4000
            })
        })
        .catch((error) => {
            console.log('Error performing Add:', error)
        })
    },
    submitUpdateForm() {
      // remove created/updated/usage_count from task as they can't be updated externally.
      delete this.active_task.created
      delete this.active_task.updated
      delete this.active_task.usage_count
      // remove account as its in the 'id' for update.
      delete this.active_task.account
      // 'rename' id_ to _id
      this.active_task._id = this.active_task.id_
      delete this.active_task.id_
      // remove any null/empty items
      Object.keys(this.active_task).forEach((k) => this.active_task[k] == null && delete this.active_task[k]);
      this.updateTask(this.active_task)
      this.active_task = {}
      this.showSubmitUpdateTask = false
    },
    onRowClick (evt, row, index) {
      console.log('clicked on', row)
    },
    onRowDblClick (evt, row, index) {
      console.log('double clicked on', row)
    },
  }
}
</script>

<style lang="scss">
  .done {
    .q-item__label {
      text-decoration: line-through;
      color: #bbb;
    }
  }
  .no-tasks {
    opacity: 0.5;
  }
  .task-note {
    font-size: smaller;
    font-style: italic;
  }
  .add-task-hint {
    color: #fff;
  }
</style>
