<template>
    <q-page class="app-bkg-color">
        <div style="width: 600px; height: 600px;" class="bg-image-auth absolute-center" v-if="this.user.username">
<!--
            container for the background image
-->
        </div>
        <div style="width: 600px; height: 600px;" class="bg-image-public absolute-center" v-if="!this.user.username">
<!--
            container for the background image
-->
        </div>

        <div class="absolute-top q-pt-xs">

            <!--
              Public Section (shown to public)
            -->
            <div class="text-subtitle1"  v-if="!this.user.username">

                <div class="text-h4 text-center q-mt-md">
                    Earn some points today<br/>
                    ...sign in to get started!
                </div>

            </div>

            <!--
                Quick Services
            -->

            <div class="row q-mt-none q-pa-none flex-center q-gutter-lg" v-if="this.user.username">

                <q-card class="my-card bg-green text-white">
                  <q-card-section>
                    <div class="text-subtitle2">Earn points by completing tasks</div>
                  </q-card-section>

                  <q-card-section style="display: flex;" class="justify-center q-pb-xl">

                    <q-btn icon="bi-cash-coin" size="40px" @click="showSubmitTask = true">
                        <q-tooltip>Earn...</q-tooltip>
                    </q-btn>

                  </q-card-section>

                </q-card>

                <q-card class="my-card bg-indigo-8 text-white">
                  <q-card-section>
                    <div class="text-subtitle2">Use points to pay for things</div>
                  </q-card-section>

                  <q-card-section style="display: flex;" class="justify-center q-pb-xl">

                    <q-btn icon="bi-bag-fill" size="40px" @click="showSubmitReward = true">
                        <q-tooltip>Redeem...</q-tooltip>
                    </q-btn>

                  </q-card-section>

                </q-card>

                <q-card class="my-card bg-blue-6 text-white">
                  <q-card-section>
                    <div class="text-subtitle2">Send points to someone</div>
                  </q-card-section>

                  <q-card-section style="display: flex;" class="justify-center q-pb-xl">

                    <q-btn icon="bi-coin" size="40px" @click="showSendPoints = true">
                        <q-tooltip>Send...</q-tooltip>
                    </q-btn>

                  </q-card-section>

                </q-card>

            </div>

            <div class="row q-mt-none q-mb-none q-pa-sm flex-center q-gutter-sm" v-if="this.user.username">

                <!-- TaskPane -->
                <task-pane />

            </div>

            <div class="row">
                &nbsp;
            </div>

        </div>

        <!--
            hidden dialogs
        -->
        <q-dialog persistent v-model="showSubmitTask">
          <submit-task @close="showSubmitTask = false" />
        </q-dialog>
        <q-dialog persistent v-model="showSubmitReward">
          <submit-reward @close="showSubmitReward = false" />
        </q-dialog>
        <q-dialog persistent v-model="showSendPoints">
          <send-points @close="showSendPoints = false" />
        </q-dialog>

    </q-page>

</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'WelcomePage',

    data () {
      return {
        loading: false,
        showSubmitTask: false,
        showSubmitReward: false,
        showSendPoints: false,
        welcome_content: "<ul><li>Earn Points!</li><li>Redeem Points!</li></ul>Keep an eye on the Point Leader!",
        about_content: "Created by: __US__<br/>Last Release: 2021-04-03 (v.0.0.0)",
      }
    },
    computed: {
      ...mapGetters('about', ['ui']),
      ...mapGetters('user', ['user']),

    },
    components: {
      'submit-task': require('components/Tasks/Modals/SubmitTask.vue').default,
      'submit-reward': require('components/Rewards/Modals/SubmitReward.vue').default,
      'send-points': require('components/Points/Modals/SendPoints.vue').default,
      'task-pane': require('components/Tasks/Modals/TaskPane.vue').default,
    },
    filters: {},
    created () {},
    mounted () {},
    methods: {
        toTasks() {
          if ( this.user == undefined || JSON.stringify(this.user) === '{}' ) {
            // not logged in.
            this.$router.push({ path: '/login' })
          } else {
            this.$router.push({ path: '/tasks' })
          }
        },
        toRewards() {
          if ( this.user == undefined || JSON.stringify(this.user) === '{}' ) {
            // not logged in.
            this.$router.push({ path: '/login' })
          } else {
            this.$router.push({ path: '/rewards' })
          }
        },
        toPoints() {
          if ( this.user == undefined || JSON.stringify(this.user) === '{}' ) {
            // not logged in.
            this.$router.push({ path: '/login' })
          } else {
            this.$router.push({ path: '/points' })
          }
        },
        pointsEarn() {
            console.log("- earn points...");
        },
    },
  }
</script>

<style>
  .bg-image-public {
      background-image: url("/money-crypto.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      border-radius: 50%;
      background-size: cover;
      margin: 20px;
      opacity: 0.3;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
   }
  .bg-image-auth {
    background-image: url("/profit-moneybag.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border-radius: 50%;
    background-size: auto;
    margin: 20px;
    opacity: 0.3;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
  .hidden-bottom-row {
    border: 1px solid red;
  }
  .my-card {
    width: 100%;
    max-width: 250px;
  }
  #splash-image {
      border-radius: 7px;
  }
  a:link, a:visited, a:hover, a:active {
      text-decoration: none;
  }
</style>
