// app global css in SCSS form

.app-bkg-color {
    /* background-color: #6297CB;   // BLUE */
    /* background-color: #ffd900;   // YELLOW */
    /* background-color: #F3F0E1;   //OFF-WHITE */
    background-color: #FFFFFF;      //WHITE
}
.app-bkg-color-sub {
    background: rgba(255,255,255,0.1);
    /* background-color: inherit; */
}
