<template>
    <q-card style="width: 65%">
        <q-card-section class="row">
          <div class="text-h6">{{ active_stash.meta_label }} Stash</div>
          <q-space />
          <q-btn flat round dense icon="bi-x-circle" v-close-popup />
        </q-card-section>

        <form @submit.prevent="submitForm">
            <q-card-section class="q-pt-none">
                <div class="row q-mb-sm">

                    <div class="col q-ml-sm q-mr-sm">

                        <q-input
                            autofocus
                            label="Label"
                            v-model="stashToSubmit.label"
                            :rules="[val => !!val || 'Field is required']"
                            ref="name"
                            hint="savings, education, grocery">
                            <q-tooltip>Label for your stash</q-tooltip>
                        </q-input>

                    </div>

                    <div class="col-2 q-ml-sm q-mr-sm">

                        <q-input
                            v-model="stashToSubmit.amount"
                            label="Amount"
                            type="text"
                            hint="1, 1.33"
                            lazy-rules :rules="[val => val !== null && val !== '' || 'Field is required', val => val > -1 && val < 999999 || 'Value must be from 0 to 999,999']"
                            class="q-mb-xs">
                            <q-tooltip>Amount of stash (decimals supported, e.g. 1.3333, 1, 1.0)</q-tooltip>
                        </q-input>

                    </div>

                    <div class="col-3 q-ml-sm q-mr-sm">

                        <q-input class="q-pb-sm q-mb-xs" style="width: 100%"
                            label="Icon"
                            v-model="stashToSubmit.icon"
                            hint="la la-home">
                            <q-tooltip>
                                Any Material or LineAwesome icon (if using LineAwesome prefix with la, e.g. 'la la-bug')
                            </q-tooltip>
                        </q-input>

                    </div>

                </div>

                <div class="row q-mb-sm">
                    <div class="col q-ml-sm q-mr-sm">
                        <q-input autogrow v-model="stashToSubmit.note" label="Note" hint="general savings stash, stash for college education">
                            <q-tooltip>OPTIONAL: a note for the stash</q-tooltip>
                        </q-input>
                    </div>
                </div>

            </q-card-section>

            <q-card-actions align="right">
              <q-btn :label="active_stash.meta_mode" color="primary" type="submit" />
            </q-card-actions>
        </form>
    </q-card>
</template>

<script>
    import { mapActions } from 'vuex'
    import { mapGetters } from 'vuex'

    export default {
        data() {
            return {
                stashToSubmit: {},
                //~ stashToSubmit: {
                    //~ "account":"",
                    //~ "icon": "",
                    //~ "label":"",
                    //~ "amount": null,
                    //~ "note": "",
                //~ },
            }
        },
        created () {
            // CAREFUL; this is called each time you hit the 'page'
        },
        mounted () {
            this.stashToSubmit = Object.assign({}, this.active_stash);
        },
        computed: {
            ...mapGetters('user', ['user',]),
            ...mapGetters('stashes', ['active_stash']),

            //~ stashToSubmit: function () {
                //~ let _active_stash = Object.assign({}, this.active_stash)
                //~ return _active_stash
            //~ },

        },
        methods: {
            ...mapActions('stashes', ['addStash', 'editStash', 'fetchStashes']),

            submitForm() {
                this.$refs.name.validate()
                if (!this.$refs.name.hasError) {
                    this.stashToSubmit.account = this.user.active_account_name
                    //console.log("- submitting stash:", this.stashToSubmit);
                    let _stash = Object.assign({}, this.stashToSubmit);
                    let _mode = this.stashToSubmit.meta_mode;
                    delete _stash.meta_mode;
                    delete _stash.meta_label;
                    this.submitStash(_mode, _stash)
                }
            },
            submitStash(mode, stash) {
                if ( mode == 'add' ) {
                    //~ console.log("- add stash:", stash);
                    this.addStash(stash)
                        .then((response) => {
                            this.fetchStashes({account: this.user.active_account_name, username: this.user.username});
                            this.$emit('close')
                        })
                        .catch((error) => {
                            //console.log("Error in Adding stash:", error)
                            if (error.response.status == 409) {
                                console.log("- conflict error - duplicate key - looks like you tried to use a label that has already been used!")
                                this.$q.notify({
                                    message: "Error Creating Stash",
                                    caption: "Stash with Label (" + stash.label +") already exists.",
                                    spinner: false,
                                    icon: 'warning',
                                    color: 'negative',
                                    html: false,
                                    position: 'top',
                                    multiline: true,
                                    timeout: 0,
                                    actions: [
                                        { icon: 'bi-x-circle', color: 'white', handler: () => { /* ... */ } }
                                    ]
                                })
                            } else {
                                console.log("- other error:", error);
                                this.$q.notify({
                                    message: "Error Creating Stash",
                                    caption: "Something went wrong while creating the stash: " + error.message + "<br/>More details: " + JSON.stringify(error.response.data),
                                    spinner: false,
                                    icon: 'warning',
                                    color: 'negative',
                                    html: true,
                                    position: 'top',
                                    multiline: true,
                                    timeout: 0,
                                    actions: [
                                        { icon: 'bi-x-circle', color: 'white', handler: () => { /* ... */ } }
                                    ]
                                })
                            }
                        })
                } else {
                    //~ console.log("- edit stash:", stash);
                    this.editStash(stash)
                        .then((response) => {
                            this.fetchStashes({account: this.user.active_account_name, username: this.user.username});
                            this.$emit('close')
                        })
                        .catch((error) => {
                            //console.log("Error in Adding stash:", error)
                            if (error.response.status == 409) {
                                console.log("- conflict error - duplicate key - looks like you tried to use a label that has already been used!")
                                this.$q.notify({
                                    message: "Error Editing Stash",
                                    caption: "Stash with Label (" + stash.label +") already exists.",
                                    spinner: false,
                                    icon: 'warning',
                                    color: 'negative',
                                    html: false,
                                    position: 'top',
                                    multiline: true,
                                    timeout: 0,
                                    actions: [
                                        { icon: 'bi-x-circle', color: 'white', handler: () => { /* ... */ } }
                                    ]
                                })
                            } else {
                                console.log("- other error:", error);
                                this.$q.notify({
                                    message: "Error Editing Stash",
                                    caption: "Something went wrong while editing the stash: " + error.message + "<br/>More details: " + JSON.stringify(error.response.data),
                                    spinner: false,
                                    icon: 'warning',
                                    color: 'negative',
                                    html: true,
                                    position: 'top',
                                    multiline: true,
                                    timeout: 0,
                                    actions: [
                                        { icon: 'bi-x-circle', color: 'white', handler: () => { /* ... */ } }
                                    ]
                                })
                            }
                        })
                }
            }
        }
    }
</script>
